Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ceph-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-ceph-ansible-base: any of: ^ansible/roles/(cinder|glance|gnocchi|nova-cell)/, ^tests/deploy-ceph-ansible.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/

[skydive] fix: Use Keystone backend to authenticate API users
  ansible/roles/skydive/defaults/main.yml
  ansible/roles/skydive/templates/skydive-analyzer.conf.j2
  releasenotes/notes/skydive-keystone-auth-0fe96463b27dd914.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Cleanup py27 support
  doc/source/contributor/running-tests.rst
  lower-constraints.txt
  requirements.txt
  setup.cfg
  setup.py
  test-requirements.txt
  tests/test_kolla_docker.py
  tests/test_merge_config.py
  tox.ini
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

CI: Fix Ironic and Zun scenarios testing
  tools/setup_gate.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

CI: Discern between Ironic client and grep failure
  tests/test-ironic.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cells-base

nova: Add debug logging to libvirtd.conf
  ansible/roles/nova-cell/templates/libvirtd.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix telegraf with zookeeper (wrong port variable reference)
  ansible/roles/telegraf/templates/telegraf.conf.j2
  releasenotes/notes/bug-1867179-9e31460ba53757d4.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Be less confusing about custom Docker registry
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Remove redundant listen on haproxy handler
  ansible/roles/haproxy/handlers/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix Designate not to use etcd coordination backend
  ansible/group_vars/all.yml
  ansible/roles/designate/templates/designate.conf.j2
  doc/source/reference/networking/designate-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/bug-1872205-2eb7e57e0a334fb7.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix haproxy restarting twice per Ansible run
  ansible/roles/haproxy/tasks/deploy.yml
  ansible/roles/haproxy/tasks/upgrade.yml
  releasenotes/notes/bug-1864810-5a5d0f91c0171b19.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix nova cell message queue URL with separate notification queue
  ansible/roles/nova-cell/tasks/create_cells.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Remove octavia user from admin project
  ansible/roles/octavia/tasks/register.yml
  ansible/roles/octavia/tasks/upgrade.yml
  releasenotes/notes/remove-octavia-user-in-admin-project-action-95c87ca45a1188d6.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Avoid multiple haproxy restarts after reconfiguration
  ansible/roles/haproxy-config/handlers/main.yml
  ansible/roles/haproxy/handlers/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

[octavia] Adds region_name if enable_barbican
  ansible/roles/octavia/templates/octavia.conf.j2
  releasenotes/notes/add-region-name-for-octavia-292594e29ef36bf2.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

drpm not found in yum repos
  ansible/roles/baremetal/tasks/install.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Separate per-service host configuration tasks
  ansible/roles/elasticsearch/tasks/config-host.yml
  ansible/roles/elasticsearch/tasks/config.yml
  ansible/roles/elasticsearch/tasks/deploy.yml
  ansible/roles/elasticsearch/tasks/upgrade.yml
  ansible/roles/haproxy/tasks/config-host.yml
  ansible/roles/haproxy/tasks/config.yml
  ansible/roles/haproxy/tasks/deploy.yml
  ansible/roles/haproxy/tasks/upgrade.yml
  ansible/roles/ironic/tasks/config-host.yml
  ansible/roles/ironic/tasks/config.yml
  ansible/roles/ironic/tasks/deploy.yml
  ansible/roles/ironic/tasks/legacy_upgrade.yml
  ansible/roles/ironic/tasks/rolling_upgrade.yml
  ansible/roles/iscsi/tasks/config-host.yml
  ansible/roles/iscsi/tasks/config.yml
  ansible/roles/iscsi/tasks/deploy.yml
  ansible/roles/multipathd/tasks/config-host.yml
  ansible/roles/multipathd/tasks/config.yml
  ansible/roles/multipathd/tasks/deploy.yml
  ansible/roles/multipathd/tasks/upgrade.yml
  ansible/roles/neutron/tasks/config-host.yml
  ansible/roles/neutron/tasks/config.yml
  ansible/roles/neutron/tasks/deploy.yml
  ansible/roles/neutron/tasks/legacy_upgrade.yml
  ansible/roles/neutron/tasks/rolling_upgrade.yml
  ansible/roles/nova/tasks/config-host.yml
  ansible/roles/nova/tasks/config.yml
  ansible/roles/nova/tasks/deploy.yml
  ansible/roles/nova/tasks/legacy_upgrade.yml
  ansible/roles/nova/tasks/rolling_upgrade.yml
  ansible/roles/opendaylight/tasks/config-host.yml
  ansible/roles/opendaylight/tasks/config.yml
  ansible/roles/opendaylight/tasks/deploy.yml
  ansible/roles/opendaylight/tasks/upgrade.yml
  ansible/roles/openvswitch/tasks/config-host.yml
  ansible/roles/openvswitch/tasks/config.yml
  ansible/roles/openvswitch/tasks/deploy.yml
  ansible/roles/openvswitch/tasks/upgrade.yml
  releasenotes/notes/no-host-config-in-genconfig-7321f0dcfc9d728d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-cells-base

Deprecate rabbitmq_hipe_compile
  ansible/group_vars/all.yml
  ansible/roles/rabbitmq/templates/rabbitmq.conf.j2
  releasenotes/notes/deprecate-rabbitmq-hipe-compile-e76ad1d597129236.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Check that used Ansible can see Kolla Ansible
  releasenotes/notes/bug-1856346-59d0f01005d56e81.yaml
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

CentOS 8: add flag to deploy rabbitmq-3.7.24 on CentOS 7
  ansible/roles/rabbitmq/defaults/main.yml
  releasenotes/notes/centos7-rabbitmq-3.7.24-32c2814a1763cda1.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Manage nova scheduler workers count
  ansible/roles/nova/templates/nova.conf.j2
  releasenotes/notes/bug-1873753-73fe82e70559f928.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cells-base

Make sure octavia uses internal endpoint to barbican
  ansible/roles/octavia/templates/octavia.conf.j2
  releasenotes/notes/use-internal-endpoint-for-barbican-in-octavia-0bcdcf91a8adc95c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

ironic: handle Swift object storage
  ansible/roles/ironic/templates/ironic.conf.j2
  releasenotes/notes/ironic-swift-f5ee8ee54ebcde08.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cells-base

CI: Fix Debian aarch64 jobs
  tests/pre.yml
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix telegraf invalid TOML syntax
  ansible/roles/telegraf/templates/telegraf.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Adapt to Octavia Certificate Configuration Guide.
  ansible/roles/octavia/tasks/config.yml
  ansible/roles/octavia/tasks/precheck.yml
  ansible/roles/octavia/templates/octavia-health-manager.json.j2
  ansible/roles/octavia/templates/octavia-housekeeping.json.j2
  ansible/roles/octavia/templates/octavia-worker.json.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  releasenotes/notes/fix-octavia-cert-config-28f0ef2799406957.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base
