Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-prometheus-efk-base, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-ubuntu-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-centos8-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-ubuntu-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh

openvswitch: Add healthchecks
  ansible/roles/openvswitch/defaults/main.yml
  ansible/roles/openvswitch/handlers/main.yml
  ansible/roles/openvswitch/tasks/check-containers.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

OVN: Make OVS db entries idempotent
  ansible/roles/common/defaults/main.yml
  ansible/roles/ovn/tasks/bootstrap.yml
  ansible/roles/ovn/tasks/deploy.yml
  ansible/roles/ovn/tasks/upgrade.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Fix cyborg api doesn't listen on api interface
  ansible/roles/cyborg/templates/cyborg.conf.j2
  releasenotes/notes/fix-cyborg-host-config-dee1d79476b94981.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Use Docker healthchecks for mistral services
  ansible/roles/mistral/defaults/main.yml
  ansible/roles/mistral/handlers/main.yml
  ansible/roles/mistral/tasks/check-containers.yml
  releasenotes/notes/implement-docker-healthchecks-for-mistral-4e9b17cc3b0c43d7.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-scenario-nfv-base, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv

baremetal: Add support for Docker http/https proxy setup
  ansible/roles/baremetal/defaults/main.yml
  ansible/roles/baremetal/tasks/post-install.yml
  ansible/roles/baremetal/templates/docker_systemd_service.j2
  doc/source/reference/deployment-and-bootstrapping/bootstrap-servers.rst
  releasenotes/notes/docker-http-proxy-f3925e652ea3fc5d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Use Docker healthchecks for memcached services
  ansible/roles/memcached/defaults/main.yml
  ansible/roles/memcached/handlers/main.yml
  ansible/roles/memcached/tasks/check-containers.yml
  releasenotes/notes/implement-docker-healthchecks-for-memcached-807b9036c3c92596.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

octavia: Fix log directory permission
  ansible/roles/octavia/templates/octavia-api.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

octavia: Ensure service auth project exists
  ansible/roles/octavia/defaults/main.yml
  ansible/roles/octavia/tasks/register.yml
  releasenotes/notes/octavia-create-service-auth-project-aa38b12ebb601777.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

[CI] Use images from quay.io
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Deprecate and disable chrony by default
  ansible/group_vars/all.yml
  ansible/roles/chrony/tasks/main.yml
  doc/source/reference/logging-and-monitoring/monasca-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/deprecate-chrony-077a8686e79a919e.yaml
  tests/setup_gate.sh
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

[CI] Save systemctl info
  tests/get_logs.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Drop the NTP service precheck
  ansible/roles/prechecks/tasks/timesync_checks.yml
  releasenotes/notes/bug-1922721-19163cfb491d0035.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

CI: Use 5G loop device for ceph
  tests/run.yml
  tests/setup_disks.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-swift-base

CI: Move to centos-8-stream
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

masakari: fix minor issues with instance monitor
  ansible/roles/masakari/defaults/main.yml
  ansible/roles/masakari/tasks/clone.yml
  ansible/roles/masakari/tasks/config.yml
  releasenotes/notes/masakari-instancemonitor-fixes-dc13e5234456d4c5.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-masakari-base, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari

Nit fixes for change 776219
  doc/source/reference/logging-and-monitoring/monasca-guide.rst
  releasenotes/notes/support-bypassing-monasca-for-control-plane-logs-651a47edf440808b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Refactor mariadb to support shards
  ansible/group_vars/all.yml
  ansible/roles/mariadb/defaults/main.yml
  ansible/roles/mariadb/handlers/main.yml
  ansible/roles/mariadb/tasks/backup.yml
  ansible/roles/mariadb/tasks/bootstrap.yml
  ansible/roles/mariadb/tasks/check.yml
  ansible/roles/mariadb/tasks/deploy.yml
  ansible/roles/mariadb/tasks/lookup_cluster.yml
  ansible/roles/mariadb/tasks/main.yml
  ansible/roles/mariadb/tasks/recover_cluster.yml
  ansible/roles/mariadb/tasks/register.yml
  ansible/roles/mariadb/tasks/restart_services.yml
  ansible/roles/mariadb/tasks/wait_for_loadbalancer.yml
  ansible/roles/mariadb/templates/galera.cnf.j2
  releasenotes/notes/mariadb-role-install-several-clusters-at-once-110057a091600d2c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

Add HAcluster Ansible role
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/cron-logrotate-hacluster.conf.j2
  ansible/roles/hacluster/defaults/main.yml
  ansible/roles/hacluster/handlers/main.yml
  ansible/roles/hacluster/tasks/bootstrap.yml
  ansible/roles/hacluster/tasks/bootstrap_service.yml
  ansible/roles/hacluster/tasks/check-containers.yml
  ansible/roles/hacluster/tasks/check.yml
  ansible/roles/hacluster/tasks/config.yml
  ansible/roles/hacluster/tasks/deploy-containers.yml
  ansible/roles/hacluster/tasks/deploy.yml
  ansible/roles/hacluster/tasks/main.yml
  ansible/roles/hacluster/tasks/precheck.yml
  ansible/roles/hacluster/tasks/pull.yml
  ansible/roles/hacluster/tasks/reconfigure.yml
  ansible/roles/hacluster/tasks/stop.yml
  ansible/roles/hacluster/tasks/upgrade.yml
  ansible/roles/hacluster/templates/hacluster-corosync.json.j2
  ansible/roles/hacluster/templates/hacluster-pacemaker-remote.json.j2
  ansible/roles/hacluster/templates/hacluster-pacemaker.json.j2
  ansible/roles/hacluster/templates/hacluster_corosync.conf.j2
  ansible/site.yml
  etc/kolla/globals.yml
  releasenotes/notes/add-hacluster-role-5f0094aa4715134b.yaml
  tests/setup_gate.sh
  tests/templates/globals-default.j2
  tests/templates/inventory.j2
  tests/test-masakari.sh
  zuul.d/base.yaml
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-masakari-base, kolla-ansible-prometheus-efk-base, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari

Use Docker healthchecks for zookeeper services
  ansible/roles/zookeeper/defaults/main.yml
  ansible/roles/zookeeper/handlers/main.yml
  ansible/roles/zookeeper/tasks/check-containers.yml
  releasenotes/notes/implement-docker-healthchecks-for-zookeeper-7f02c4667a1bd051.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

CI: pull images before deploy
  tests/deploy.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Support editable installation in all cases
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

masakari: support host monitor
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/hacluster/defaults/main.yml
  ansible/roles/masakari/defaults/main.yml
  ansible/roles/masakari/handlers/main.yml
  ansible/roles/masakari/tasks/check-containers.yml
  ansible/roles/masakari/tasks/config.yml
  ansible/roles/masakari/templates/masakari-hostmonitor.json.j2
  ansible/roles/masakari/templates/masakari-monitors.conf.j2
  ansible/site.yml
  etc/kolla/globals.yml
  releasenotes/notes/add-masakari-hostmonitor-c9b1b6872deef4b1.yaml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-masakari-base, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari

Fix installation errors with Python 2
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

octavia: Add support for disabling amphora provider
  ansible/roles/octavia/tasks/config.yml
  ansible/roles/octavia/tasks/precheck.yml
  ansible/roles/octavia/templates/octavia-health-manager.json.j2
  ansible/roles/octavia/templates/octavia-housekeeping.json.j2
  ansible/roles/octavia/templates/octavia-worker.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Use Docker healthchecks for rabbitmq services
  ansible/roles/rabbitmq/defaults/main.yml
  ansible/roles/rabbitmq/tasks/check-containers.yml
  ansible/roles/rabbitmq/tasks/restart_services.yml
  releasenotes/notes/implement-docker-healthchecks-for-rabbitmq-a596f6b063026491.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

mariadb: Disable wsrep-notify script if clustercheck enabled
  ansible/roles/mariadb/tasks/config.yml
  ansible/roles/mariadb/templates/galera.cnf.j2
  ansible/roles/mariadb/templates/mariadb.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

Additional small changes in role/mariadb
  ansible/roles/mariadb/defaults/main.yml
  ansible/roles/mariadb/handlers/main.yml
  ansible/roles/mariadb/tasks/backup.yml
  ansible/roles/mariadb/templates/wsrep-notify.sh.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

mariadb: Deprecate wsrep-notify.sh
  ansible/roles/mariadb/tasks/config.yml
  releasenotes/notes/deprecate-wsrep-notify-d21ab17425e5065c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

Update setuptools inside virtualenvs
  tools/setup_gate.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

docs: Improve policy documentation
  doc/source/admin/advanced-configuration.rst
Due: none

Extend support for custom Grafana dashboards
  ansible/roles/grafana/tasks/config.yml
  doc/source/reference/logging-and-monitoring/grafana-guide.rst
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Tidy up Wallaby renos
  releasenotes/notes/add-openstack-exporter-scrape-timeout-af5dcd5d988ae12b.yaml
  releasenotes/notes/add_elasticsearch_and_prometheus_support_on_cloudkitty-774e13e363e15a4b.yaml
  releasenotes/notes/custom-grafana-dashboards-fd4c8a00cd2dd126.yaml
  releasenotes/notes/deprecate-monasca-log-metrics-service-d558015f1cf426df.yaml
  releasenotes/notes/external-tls-72d36e8aa0b6ccaf.yaml
  releasenotes/notes/implement-docker-healthchecks-for-aodh-1ddc44642c39b765.yaml
  releasenotes/notes/implement-docker-healthchecks-for-barbican-8cccb703a7c8d674.yaml
  releasenotes/notes/implement-docker-healthchecks-for-blazar-88fb90398a249e18.yaml
  releasenotes/notes/implement-docker-healthchecks-for-cinder-518d4d6457703b7e.yaml
  releasenotes/notes/implement-docker-healthchecks-for-cloudkitty-a032d6408b7eea26.yaml
  releasenotes/notes/implement-docker-healthchecks-for-cyborg-a4b6edb97a09cce5.yaml
  releasenotes/notes/implement-docker-healthchecks-for-designate-f4851e1d6245b0f7.yaml
  releasenotes/notes/implement-docker-healthchecks-for-elasticsearch-b251cd701d428a18.yaml
  releasenotes/notes/implement-docker-healthchecks-for-gnocchi-fa2fa16bcdcc0667.yaml
  releasenotes/notes/implement-docker-healthchecks-for-haproxy-e222d45809a1a9a1.yaml
  releasenotes/notes/implement-docker-healthchecks-for-ironic-26df3f8c96ab70c7.yaml
  releasenotes/notes/implement-docker-healthchecks-for-kibana-4aff69122b158c00.yaml
  releasenotes/notes/implement-docker-healthchecks-for-magnum-0e92b0645fcdeb61.yaml
  releasenotes/notes/implement-docker-healthchecks-for-manila-a0cd7d075a816ba5.yaml
  releasenotes/notes/implement-docker-healthchecks-for-octavia-add6a52fad7a09b9.yaml
  releasenotes/notes/implement-docker-healthchecks-for-redis-12f8d528d1b8c0cb.yaml
  releasenotes/notes/implement-docker-healthchecks-for-sahara-d04dce89744e2819.yaml
  releasenotes/notes/implement-docker-healthchecks-for-senlin-c46a3b39a846c597.yaml
  releasenotes/notes/implement-docker-healthchecks-for-skydive-a3063822a68205b1.yaml
  releasenotes/notes/implement-docker-healthchecks-for-tacker-aa8a2b2180d57a90.yaml
  releasenotes/notes/implement-docker-healthchecks-for-trove-7920c841f784b2e1.yaml
  releasenotes/notes/implement-docker-healthchecks-for-vitrage-e2866c51c4b8fb78.yaml
  releasenotes/notes/implement-docker-healthchecks-for-watcher-e008d9ca79bfa048.yaml
  releasenotes/notes/implement-docker-healthchecks-multiple-1ddc44642c39b765.yaml
  releasenotes/notes/mariadb-role-install-several-clusters-at-once-110057a091600d2c.yaml
  releasenotes/notes/octavia-api-wsgi-cafa913364cb491c.yaml
  releasenotes/notes/remove-cinder-v2-api-64cd9971ca24902c.yaml
  releasenotes/notes/remove-ml2-agents-config-3f7d49b1e28190fd.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

[doc] introduce octavia tenant management network
  doc/source/reference/networking/octavia.rst
Due: none

Document setuptools update
  doc/source/user/quickstart.rst
  doc/source/user/virtual-environments.rst
Due: none

Apply Zun configuration for Docker based on inventory
  ansible/roles/baremetal/tasks/bootstrap-servers.yml
  ansible/roles/baremetal/tasks/post-install.yml
  ansible/roles/baremetal/templates/docker_systemd_service.j2
  releasenotes/notes/bootstrap-without-zun-67d6ee5d84fcec22.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Update .gitreview for stable/wallaby
  .gitreview
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph
