Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-monasca-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-efk-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-kvm-base: any of: ^ansible/roles/(nova-cell)/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|neutron|nova|nova-cell)/, ^tests/deploy-tenks\.sh$, ^tests/templates/ironic-overrides\.j2$, ^tests/templates/tenks-deploy-config\.yml\.j2$, ^tests/test-dashboard\.sh$, ^tests/test-ironic\.sh$
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-cephadm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-magnum-base: any of: ^ansible/roles/(designate|magnum|trove)/, ^tests/test-dashboard.sh, ^tests/test-magnum.sh
  kolla-ansible-octavia-base: any of: ^ansible/roles/(octavia|octavia-certificates)/, ^tests/test-dashboard.sh, ^tests/test-octavia.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^ansible/roles/hacluster/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-monasca-base: any of: ^ansible/roles/(elasticsearch|influxdb|kafka|kibana|monasca|storm|zookeeper)/, ^tests/test-monasca.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(aodh|barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: any of: ^ansible/roles/nova/, ^tests/test-core-openstack.sh
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(neutron|octavia|openvswitch|ovn)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/, ^tests/test-prometheus-efk.sh
  kolla-ansible-venus-base: any of: ^ansible/roles/(common|elasticsearch|venus)/, ^tests/test-venus.sh
  kolla-ansible-hashi-vault-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/

Remove RabbitMQ ha-all policy when not required
  ansible/roles/rabbitmq/tasks/deploy.yml
  ansible/roles/rabbitmq/tasks/remove-ha-all-policy.yml
  ansible/roles/rabbitmq/tasks/upgrade.yml
  releasenotes/notes/rabbitmq-remove-ha-all-policy-when-not-required-81dcf64542c4805f.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Add check_mode: false to Nova upgrade checks
  ansible/roles/nova/tasks/upgrade.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base, kolla-ansible-cells-base, kolla-ansible-hashi-vault-base

cli: fix find globals.d
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Trivial fix - add int filter for rabbitmq definitions
  ansible/roles/rabbitmq/templates/definitions.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Update notes about CentOS support
  doc/source/user/support-matrix.rst
Due: none

Add precheck to fail if RabbitMQ HA needs configuring
  ansible/roles/rabbitmq/tasks/precheck.yml
  doc/source/reference/message-queues/rabbitmq.rst
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Revert "ansible: bump min to 2.13 and max to 2.14"
  ansible/roles/prechecks/vars/main.yml
  doc/source/user/quickstart.rst
  doc/source/user/virtual-environments.rst
  releasenotes/notes/ansible-2.14-d83c5ce197321353.yaml
  tests/run.yml
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Fix faulty precheck for RabbitMQ
  ansible/roles/rabbitmq/defaults/main.yml
  ansible/roles/rabbitmq/tasks/precheck.yml
  releasenotes/notes/bug-1999081-769f1012263a48fd.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Designate: provide certificates file to use for neutron client requests
  ansible/roles/designate/templates/designate.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-hashi-vault-base

Fix Bash variable expansion issues in openrc file
  ansible/roles/common/templates/admin-openrc.sh.j2
  ansible/roles/octavia/templates/octavia-openrc.sh.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-octavia-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-efk-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base

octavia: Fix hm-interface after bumping openstack collection
  ansible/roles/octavia/tasks/get_resources_info.yml
  ansible/roles/octavia/tasks/hm-interface.yml
  ansible/roles/octavia/templates/octavia.conf.j2
  tests/test-octavia.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-octavia-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Deprecate Sahara and Vitrage
  releasenotes/notes/deprecate-sahara-e3f3f2caddfd5883.yaml
  releasenotes/notes/deprecate-vitrage-303a0a357bfffaad.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Add support for checking Octavia cert expiration
  ansible/roles/octavia-certificates/defaults/main.yml
  ansible/roles/octavia-certificates/tasks/check_expiry.yml
  ansible/roles/octavia-certificates/tasks/main.yml
  doc/source/reference/networking/octavia.rst
  releasenotes/notes/octavia-check-certificate-expiry-9a80a68cf31cbba4.yaml
  tests/run.yml
  tests/test-octavia.sh
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-octavia-base, kolla-ansible-hashi-vault-base

Add container engine option to scripts
  ansible/roles/destroy/tasks/cleanup_containers.yml
  ansible/roles/destroy/tasks/cleanup_images.yml
  ansible/roles/destroy/tasks/validate_docker_execute.yml
  ansible/roles/prune-images/tasks/validate_docker_execute.yml
  tests/check-failure.sh
  tests/deploy-tenks.sh
  tests/get_logs.sh
  tests/init-swift.sh
  tests/pre.yml
  tests/run.yml
  tests/setup_gate.sh
  tests/templates/globals-default.j2
  tests/test-bifrost.sh
  tests/test-mariadb.sh
  tests/test-masakari.sh
  tests/test-ovn.sh
  tests/test-zun.sh
  tools/cleanup-containers
  tools/cleanup-images
  tools/diag
  tools/kolla-libvirt-guests-docker.service
  tools/kolla-libvirt-guests-podman.service
  tools/loc
  tools/setup-compute-libvirt.yml
  tools/validate-all-file.py
  tools/validate-docker-execute.sh
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Correct ovn-ctl --db-nb-pidfile usage in templates
  ansible/roles/ovn-db/templates/ovn-nb-db.json.j2
  ansible/roles/ovn-db/templates/ovn-sb-db.json.j2
  releasenotes/notes/correct-ovn-ctl-pid-flag-in-template-d915fe4b71548da0.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

[stable-only] Work around docker-py requests/urllib3 issue
  ansible/roles/baremetal/tasks/install.yml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: retry smoke tests and instance creation
  tests/test-core-openstack.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

[stable-only] Work around docker-py requests/urllib3 issue
  ansible/roles/baremetal/tasks/install.yml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Clarifies misleading error on ceilometer role`s precheck task
  ansible/roles/ceilometer/tasks/precheck.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Pin zun jobs to Docker 20
  ansible/roles/baremetal/defaults/main.yml
  ansible/roles/baremetal/tasks/install.yml
  doc/source/reference/compute/zun-guide.rst
  tests/templates/globals-default.j2
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

always add service_user section to nova.conf
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  releasenotes/notes/cve-2023-2088-51e7e050be2139bf.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-cells-base, kolla-ansible-hashi-vault-base

Remove kolla-ansible-ubuntu-binary-upgrade job
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph
