Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-bifrost-centos-source, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost
    install_type: source

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-ceph-ansible-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ceph-ansible
    ceph_osd_storetype: ceph-lvm
  required-projects:
  - name: github.com/ceph/ceph-ansible
    override-checkout: v4.0.16

kolla-ansible-masakari-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: masakari

kolla-ansible-mariadb-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: mariadb

kolla-ansible-scenario-nfv-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: scenario_nfv

Change mariadb image to mariadb-server
  ansible/roles/mariadb/defaults/main.yml
  releasenotes/notes/mariadb-server-image-be5f77966586ef39.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-mariadb-base, kolla-ansible-cells-base, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

bump py37 to py38 in tox.ini
  tox.ini
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Support neutron_sriov_physnet_mappings to support multiple devices
  ansible/group_vars/all.yml
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/templates/linuxbridge_agent.ini.j2
  ansible/roles/neutron/templates/openvswitch_agent.ini.j2
  ansible/roles/neutron/templates/sriov_agent.ini.j2
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/templates/nova.conf.j2
  doc/source/reference/networking/sriov.rst
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

CI: add magnum scenario, also covering octavia
  tests/run.yml
  tests/setup_gate.sh
  tests/templates/globals-default.j2
  tests/test-magnum.sh
  zuul.d/base.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

docs: add scaffolding for redirects
  doc/requirements.txt
  doc/source/_extra/.htaccess
  doc/source/conf.py
  doc/test/redirect-tests.txt
  tox.ini
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Update py37 to py38 for running-tests.rst
  doc/source/contributor/running-tests.rst
Due: none

Add the missing doc/requirements into running-tests.rst
  doc/source/contributor/running-tests.rst
Due: none

Fix glance-tls-proxy logrotate and fluentd log permissions
  ansible/group_vars/all.yml
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/conf/output/00-local.conf.j2
  ansible/roles/common/templates/fluentd.json.j2
  ansible/roles/glance/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Remove unused configuration for prometheus-openstack-exporter
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/templates/prometheus-openstack-exporter.json.j2
  releasenotes/notes/remove-prometheus-volume-from-openstack-exporter-f6bb5da3093abef8.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

replace internal with openstack_interface
  ansible/roles/nova-cell/tasks/discover_computes.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add support for changing sysctl.conf path
  ansible/group_vars/all.yml
  ansible/roles/elasticsearch/tasks/config-host.yml
  ansible/roles/haproxy/tasks/config-host.yml
  ansible/roles/neutron/tasks/config-host.yml
  ansible/roles/nova-cell/tasks/config-host.yml
  etc/kolla/globals.yml
  releasenotes/notes/custom-sysctl-conf-path-ce58e897fc067410.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

Allow to skip and unset sysctl vars
  ansible/roles/elasticsearch/tasks/config-host.yml
  ansible/roles/haproxy/tasks/config-host.yml
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/tasks/config-host.yml
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/tasks/config-host.yml
  releasenotes/notes/sysctl-skip-and-unset-848d5ebd765aabec.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

Performance: use a single config file for logrotate
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/cron-logrotate-global.conf.j2
  ansible/roles/common/templates/cron.json.j2
  releasenotes/notes/logrotate-single-config-663d6bf154218380.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Allow setting container_proxy per service
  ansible/roles/bifrost/defaults/main.yml
  ansible/roles/bifrost/tasks/start.yml
  ansible/roles/glance/defaults/main.yml
  ansible/roles/magnum/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-bifrost-centos-source

Fix default mode in haproxy_single_service_split
  ansible/roles/haproxy-config/templates/haproxy_single_service_split.cfg.j2
  releasenotes/notes/bug-1896591-47c829f8b72d567a.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Change the default haproxy template to split variant
  ansible/roles/haproxy-config/defaults/main.yml
  releasenotes/notes/haproxy-default-template-change-b5816d6ba87f3a4c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add support for with_frontend and with_backend
  ansible/roles/haproxy-config/templates/haproxy_single_service_split.cfg.j2
  releasenotes/notes/haproxy-not-all-ends-ea1b2961f039abe7.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Reduce the use of SQLAlchemy connection pooling
  ansible/group_vars/all.yml
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/freezer/templates/freezer.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/gnocchi/templates/gnocchi.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/karbor/templates/karbor.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/monasca/templates/monasca-api/api.conf.j2
  ansible/roles/murano/templates/murano.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/panko/templates/panko.conf.j2
  ansible/roles/placement/templates/placement.conf.j2
  ansible/roles/qinling/templates/qinling.conf.j2
  ansible/roles/rally/templates/rally.conf.j2
  ansible/roles/sahara/templates/sahara.conf.j2
  ansible/roles/senlin/templates/senlin.conf.j2
  ansible/roles/solum/templates/solum.conf.j2
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove-conductor.conf.j2
  ansible/roles/trove/templates/trove-taskmanager.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/vitrage/templates/vitrage.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  releasenotes/notes/reduce-db-connection-pooling-b44da77eaa390f22.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari

Fix common role when using external mariadb
  ansible/roles/common/tasks/config.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Bump minimum Ansible version to 2.9
  ansible/roles/prechecks/vars/main.yml
  doc/source/user/quickstart.rst
  lower-constraints.txt
  releasenotes/notes/require-ansible-29-f03f4e22292a5bb4.yaml
  test-requirements.txt
  tests/run.yml
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add support for encrypting Ironic API
  ansible/roles/ironic/defaults/main.yml
  ansible/roles/ironic/handlers/main.yml
  ansible/roles/ironic/tasks/config.yml
  ansible/roles/ironic/templates/ironic-api-wsgi.conf.j2
  ansible/roles/ironic/templates/ironic-api.json.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  releasenotes/notes/encrypt-additional-services-backend-haproxy-29467a9771e99917.yaml
  tests/run.yml
  tests/test-ironic.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix keystone-startup.sh
  ansible/roles/keystone/templates/keystone-startup.sh.j2
  releasenotes/notes/bug-1895723-910de90908de260a.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add release note and upgrade docs for Ubuntu Focal 20.04
  doc/source/user/operating-kolla.rst
  releasenotes/notes/ubuntu-focal-bdc157d4505f9a0c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Pin Ansible in test-reqs (<2.10)
  test-requirements.txt
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

CI: enable TLS in single node upgrade jobs
  tests/run.yml
  zuul.d/jobs.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add support for ACME http-01 challenge
  ansible/group_vars/all.yml
  ansible/roles/horizon/defaults/main.yml
  doc/source/admin/acme.rst
  doc/source/admin/index.rst
  doc/source/admin/tls.rst
  etc/kolla/globals.yml
  releasenotes/notes/external-acme-client-support-cee19c4755e04eab.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

[baremetal]: Use $releasever in docker-ce repo
  ansible/roles/baremetal/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Reduce the use of SQLAlchemy connection pooling
  ansible/group_vars/all.yml
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/gnocchi/templates/gnocchi.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/karbor/templates/karbor.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/monasca/templates/monasca-api/api.conf.j2
  ansible/roles/murano/templates/murano.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/panko/templates/panko.conf.j2
  ansible/roles/placement/templates/placement.conf.j2
  ansible/roles/rally/templates/rally.conf.j2
  ansible/roles/sahara/templates/sahara.conf.j2
  ansible/roles/senlin/templates/senlin.conf.j2
  ansible/roles/solum/templates/solum.conf.j2
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove-conductor.conf.j2
  ansible/roles/trove/templates/trove-taskmanager.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/vitrage/templates/vitrage.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  releasenotes/notes/reduce-db-connection-pooling-b44da77eaa390f22.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv

Bump the remained minimum Ansible version to 2.9
  doc/source/user/quickstart.rst
Due: none

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-ceph-ansible-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(ovn|neutron)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
  kolla-ansible-bifrost-centos-source: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-centos-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-ubuntu-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-centos8-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-ubuntu-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
