Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-prometheus-efk-base, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-ubuntu-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-centos8-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-ubuntu-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh

nova: Use cinder user for Ceph
  ansible/group_vars/all.yml
  doc/source/reference/storage/external-ceph-guide.rst
  releasenotes/notes/nova-ceph-user-53670f9ccc546225.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Fix variable names in Octavia documentation
  doc/source/reference/networking/octavia.rst
Due: none

docs: Add information on tuning Ansible
  doc/source/user/ansible-tuning.rst
  doc/source/user/index.rst
Due: none

Delete haproxy_single_service_listen.cfg.j2 template
  ansible/roles/haproxy-config/defaults/main.yml
  ansible/roles/haproxy-config/templates/haproxy_single_service_listen.cfg.j2
  releasenotes/notes/haproxy-default-template-upgrade-c9b88d3385a5d257.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Use more RMQ flags for less busy wait
  ansible/roles/rabbitmq/defaults/main.yml
  doc/source/reference/message-queues/rabbitmq.rst
  etc/kolla/globals.yml
  releasenotes/notes/reduce-rabbit-busy-waiting-085433c822165eab.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

manila: add glance section in manila-share.conf
  ansible/group_vars/all.yml
  ansible/roles/manila/templates/manila-share.conf.j2
  releasenotes/notes/manila-glance-4524ed1e9d488a60.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

[CI] Slim down Masakari job
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Add missing elasticsearch cloudkitty storage and prometheus collector backend support.
  ansible/group_vars/all.yml
  ansible/roles/cloudkitty/defaults/main.yml
  ansible/roles/cloudkitty/tasks/bootstrap.yml
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  etc/kolla/globals.yml
  releasenotes/notes/add_elasticsearch_and_prometheus_support_on_cloudkitty-774e13e363e15a4b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Support multiple inventories
  doc/source/user/operating-kolla.rst
  releasenotes/notes/support-multiple-inventories-f0b694fa4e78bb8a.yaml
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Revert "cephadm: Set auth_allow_insecure_global_id_reclaim to true"
  roles/cephadm/tasks/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

cyborg: add missing become for api-paste.ini
  ansible/roles/cyborg/tasks/config.yml
  releasenotes/notes/cyborg-become-8453d941af536e91.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Make setup module arguments configurable
  ansible/gather-facts.yml
  ansible/group_vars/all.yml
  doc/source/user/ansible-tuning.rst
  etc/kolla/globals.yml
  releasenotes/notes/setup-module-args-c29e1815bbbe8aca.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

watcher: add missing become for copying configs
  ansible/roles/watcher/tasks/config.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Fix freezed spice console in horizon
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/tasks/loadbalancer.yml
  releasenotes/notes/bug-1938549-e73042a61f0a5935.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

Do not run timesync checks on deployment host
  ansible/roles/prechecks/tasks/main.yml
  releasenotes/notes/bug-1933347-4031d94ef7decb3c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Trivial fix horizon's healthcheck when SSL turned on
  ansible/group_vars/all.yml
  ansible/roles/horizon/templates/horizon.conf.j2
  releasenotes/notes/bug-1933846-122a62e9724b638c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Fix incorrect config of linuxbridge multiple external networks
  ansible/roles/neutron/templates/linuxbridge_agent.ini.j2
  ansible/roles/neutron/templates/ml2_conf.ini.j2
  releasenotes/notes/linux-bridge-multi-fe8576616fb7d373.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

add note on quickstart.rst
  doc/source/user/quickstart.rst
Due: none

Fix nova deployment failure when rabbitmq is disabled
  ansible/roles/nova-cell/tasks/rabbitmq.yml
  doc/source/reference/message-queues/external-rabbitmq-guide.rst
  doc/source/reference/message-queues/index.rst
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base
