Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-ceph-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ceph
  host-vars:
    primary:
      ceph_osd_storetype: filestore
    secondary1:
      ceph_osd_storetype: bluestore
    secondary2:
      ceph_osd_storetype: bluestore

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost
    install_type: source

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-ceph-ansible-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ceph-ansible
    ceph_osd_storetype: ceph-lvm
  required-projects:
  - name: github.com/ceph/ceph-ansible
    override-checkout: v4.0.7

CI: Ignore zuul.d
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

CI: Fix deploy guide jobs
  tox.ini
  zuul.d/deploy-guide.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Docs: fix cells upgrade guide
  doc/source/reference/compute/nova-cells-guide.rst
Due: none

External Ceph: Fix hardcoded gnocchi keyring
  ansible/roles/gnocchi/templates/gnocchi-metricd.json.j2
  ansible/roles/gnocchi/templates/gnocchi-statsd.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Ironic: fix documentation
  doc/source/reference/bare-metal/ironic-guide.rst
Due: none

Ironic: fix documentation again
  doc/source/reference/bare-metal/ironic-guide.rst
Due: none

Use internal API for masakari-monitor
  ansible/roles/masakari/templates/masakari-monitors.conf.j2
  releasenotes/notes/use-internal-api-for-masakari-monitor-9ba03166ff375601.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-masakari-base, kolla-ansible-cells-base

Docs: Document EXTRA_OPTS
  doc/source/user/operating-kolla.rst
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Use more permissive regex to remove the offending 127.0.1.1
  ansible/roles/baremetal/tasks/pre-install.yml
  releasenotes/notes/bug-1862739-05246e7599375800.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Upgrade virtualenv in pre
  tests/pre.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix Prometheus mysqld exporter pointing to VIP address
  ansible/roles/prometheus/templates/my.cnf.j2
  releasenotes/notes/bug-1863041-30d87a768339251b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Minimal changes to upgrade Elasticsearch to 6.x
  ansible/roles/elasticsearch/templates/elasticsearch.json.j2
  ansible/roles/elasticsearch/templates/elasticsearch.yml.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix Kibana registration check after E*K upgrade
  ansible/roles/kibana/tasks/post_config.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

CI: Generate ARA HTML
  tests/post.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Add mtail for exporting log events to Prometheus
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/handlers/main.yml
  ansible/roles/prometheus/tasks/config.yml
  ansible/roles/prometheus/tasks/precheck.yml
  ansible/roles/prometheus/templates/mtail_progs/syslog.mtail.j2
  ansible/roles/prometheus/templates/prometheus-mtail.json.j2
  ansible/roles/prometheus/templates/prometheus.yml.j2
  ansible/site.yml
  etc/kolla/globals.yml
  releasenotes/notes/add-prometheus-mtail-13f2bc1d7e57293c.yaml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix swift entries in group_vars/globals.yml
  ansible/group_vars/all.yml
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

CI: Remove ceph-base and remove file check from ceph-ansible-base
  zuul.d/base.yaml
  zuul.d/jobs.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Add support for deploying Prometheus libvirt exporter
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/handlers/main.yml
  ansible/roles/prometheus/tasks/precheck.yml
  ansible/roles/prometheus/templates/prometheus-libvirt-exporter.json.j2
  ansible/roles/prometheus/templates/prometheus.yml.j2
  etc/kolla/globals.yml
  releasenotes/notes/add-prometheus-libvirt-exporter-b05a3a9c08db517c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Support Prometheus server 2.x
  ansible/roles/prometheus/templates/prometheus-server.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

WIP: Support external Ceph for Prometheus
  ansible/roles/prometheus/templates/prometheus.yml.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Add role to deploy cASO
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/caso/defaults/main.yml
  ansible/roles/caso/handlers/main.yml
  ansible/roles/caso/meta/main.yml
  ansible/roles/caso/tasks/check.yml
  ansible/roles/caso/tasks/config.yml
  ansible/roles/caso/tasks/deploy.yml
  ansible/roles/caso/tasks/main.yml
  ansible/roles/caso/tasks/precheck.yml
  ansible/roles/caso/tasks/pull.yml
  ansible/roles/caso/tasks/reconfigure.yml
  ansible/roles/caso/tasks/register.yml
  ansible/roles/caso/tasks/upgrade.yml
  ansible/roles/caso/templates/caso.conf.j2
  ansible/roles/caso/templates/caso.json.j2
  ansible/roles/caso/templates/voms.json.j2
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/conf/filter/00-record_transformer.conf.j2
  ansible/roles/common/templates/conf/input/09-caso.conf.j2
  ansible/roles/common/templates/conf/output/01-es.conf.j2
  ansible/roles/common/templates/cron-logrotate-caso.conf.j2
  ansible/roles/common/templates/cron.json.j2
  ansible/site.yml
  etc/kolla/passwords.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Add enable_ceph_rgw_external to configure haproxy
  ansible/group_vars/all.yml
  ansible/roles/ceph/defaults/main.yml
  ansible/site.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Hack to put ceph rgw in keystone catalog
  ansible/roles/glance/defaults/main.yml
  ansible/roles/glance/tasks/register.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix directory for elasticsearch config
  ansible/roles/elasticsearch/templates/elasticsearch.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix bad ceph prometheus loop
  ansible/roles/prometheus/templates/prometheus.yml.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Follow up on Ansible version checking
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Use become for kill command
  ansible/roles/nova/tasks/discover_computes.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cells-base

Fix Cinder Backup access to kernel modules (iscsi_tcp issue)
  ansible/roles/cinder/defaults/main.yml
  releasenotes/notes/bug-1863094-1564f489a7eecb28.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

CI: Add CentOS 8 ceph-ansible job
  tests/deploy-ceph-ansible.sh
  tests/run.yml
  tests/templates/ceph-ansible.j2
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Haproxy: fix haproxy_cmd for Debian
  ansible/roles/haproxy/templates/haproxy_run.sh.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Add support for deploying Jiralert
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/handlers/main.yml
  ansible/roles/prometheus/tasks/config.yml
  ansible/roles/prometheus/tasks/precheck.yml
  ansible/roles/prometheus/templates/prometheus-alertmanager.yml.j2
  ansible/roles/prometheus/templates/prometheus-jiralert.json.j2
  ansible/roles/prometheus/templates/prometheus-jiralert.tmpl
  ansible/roles/prometheus/templates/prometheus-jiralert.yml.j2
  etc/kolla/globals.yml
  etc/kolla/passwords.yml
  releasenotes/notes/add-prometheus-jiraalert-296c26816bfc8e61.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Run cASO via cron
  ansible/roles/caso/defaults/main.yml
  ansible/roles/caso/handlers/main.yml
  ansible/roles/caso/tasks/config.yml
  ansible/roles/caso/templates/caso.crontab.j2
  ansible/roles/caso/templates/caso.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Explicitly configure spool dir
  ansible/roles/caso/defaults/main.yml
  ansible/roles/caso/templates/caso.conf.j2
  ansible/roles/caso/templates/caso.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Remove log arg that fails with prometheus 2.0
  ansible/roles/prometheus/templates/prometheus-server.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Support Secure Stomp Messenger output
  ansible/roles/caso/defaults/main.yml
  ansible/roles/caso/templates/caso.conf.j2
  ansible/roles/caso/templates/caso.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

[WIP] Modify kolla-ansible to deploy an Octavia using dual CAs for servers (amphorae) and clients (controllers)
  ansible/roles/octavia/tasks/config.yml
  ansible/roles/octavia/tasks/precheck.yml
  ansible/roles/octavia/templates/octavia-health-manager.json.j2
  ansible/roles/octavia/templates/octavia-housekeeping.json.j2
  ansible/roles/octavia/templates/octavia-worker.json.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  etc/kolla/passwords.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Correct typo in this Boolean
  ansible/roles/prometheus/templates/prometheus-alertmanager.yml.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Add creation of Octavia client key passphrase
  etc/kolla/passwords.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Allow customization of caso messengers
  ansible/roles/caso/defaults/main.yml
  ansible/roles/caso/templates/caso.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ceph-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-ceph-ansible-base: any of: ^ansible/roles/(cinder|glance|gnocchi|nova-cell)/, ^tests/deploy-ceph-ansible.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
