Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-monasca-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-efk-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-kvm-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    virt_type: kvm

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  required-projects:
  - openstack/tenks
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-cephadm-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: cephadm

kolla-ansible-magnum-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: magnum

kolla-ansible-octavia-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: octavia

kolla-ansible-masakari-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: masakari

ovn: Change order of deployment
  ansible/site.yml
  releasenotes/notes/ovn-revert-order-a824e0fe4440be46.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

ovn: add ovn-monitor-all variable
  ansible/roles/ovn-controller/defaults/main.yml
  ansible/roles/ovn-controller/tasks/setup-ovs.yml
  releasenotes/notes/ovn-monitor-all-782e7cdc04688fc6.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: Run validate-config at the end of deploy
  tests/deploy.sh
  tests/run.yml
  tests/upgrade.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: Support tox4
  tox.ini
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Fix some neutron configuration options
  ansible/roles/neutron/templates/metadata_agent.ini.j2
  ansible/roles/neutron/templates/neutron.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

init-runonce: Migrate to ECDSA keys
  tools/init-runonce
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

docs: add note about tag suffix for aarch64
  doc/source/user/quickstart.rst
Due: none

Explicitly set the value of heartbeat_in_pthread
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/barbican/templates/barbican.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/ceilometer/templates/ceilometer.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/designate/templates/designate.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/murano/templates/murano.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/sahara/templates/sahara.conf.j2
  ansible/roles/senlin/templates/senlin.conf.j2
  ansible/roles/solum/templates/solum.conf.j2
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/vitrage/templates/vitrage.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  releasenotes/notes/explicitly-set-heartbeat-in-pthread-3a5a3ebdc33bb51a.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Add support for Ubuntu Jammy Jellyfish (22.04 LTS)
  ansible/roles/prechecks/vars/main.yml
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Drop skydive
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/cron-logrotate-skydive.conf.j2
  ansible/roles/skydive/defaults/main.yml
  ansible/roles/skydive/handlers/main.yml
  ansible/roles/skydive/tasks/check-containers.yml
  ansible/roles/skydive/tasks/check.yml
  ansible/roles/skydive/tasks/config.yml
  ansible/roles/skydive/tasks/config_validate.yml
  ansible/roles/skydive/tasks/copy-certs.yml
  ansible/roles/skydive/tasks/deploy-containers.yml
  ansible/roles/skydive/tasks/deploy.yml
  ansible/roles/skydive/tasks/loadbalancer.yml
  ansible/roles/skydive/tasks/main.yml
  ansible/roles/skydive/tasks/precheck.yml
  ansible/roles/skydive/tasks/pull.yml
  ansible/roles/skydive/tasks/reconfigure.yml
  ansible/roles/skydive/tasks/stop.yml
  ansible/roles/skydive/tasks/upgrade.yml
  ansible/roles/skydive/templates/skydive-agent.conf.j2
  ansible/roles/skydive/templates/skydive-agent.json.j2
  ansible/roles/skydive/templates/skydive-analyzer.conf.j2
  ansible/roles/skydive/templates/skydive-analyzer.json.j2
  ansible/roles/skydive/vars/main.yml
  ansible/site.yml
  doc/source/reference/logging-and-monitoring/index.rst
  doc/source/reference/logging-and-monitoring/skydive-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/drop-skydive-96070f7b79b71d31.yaml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-efk-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base

zun: Use assert on checks for readability
  ansible/roles/zun/tasks/precheck.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

rabbitmq: Use assert on checks for readability
  ansible/roles/rabbitmq/tasks/precheck.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

host_os: Use assert on checks for readability
  ansible/roles/prechecks/tasks/host_os_checks.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

ansible: Use assert on checks for readability
  ansible/roles/prechecks/tasks/package_checks.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

neutron: Use assert on checks for readability
  ansible/roles/neutron/tasks/precheck.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

loadbalancer: Use assert on checks for readability
  ansible/roles/loadbalancer/tasks/precheck.yml
  ansible/roles/prechecks/tasks/inventory_checks.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

iscsi: Use assert on checks for readability
  ansible/roles/iscsi/tasks/precheck.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Set previous_release to zed
  ansible/group_vars/all.yml
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Stop firewalld config during kolla genconfig
  ansible/roles/haproxy-config/tasks/main.yml
  releasenotes/notes/stop-firewalld-being-configured-during-genconfig-21e3fa4b9a6c677d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Drop remnants of install_type
  tests/templates/globals-default.j2
  tests/test_kolla_docker.py
  zuul.d/jobs.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: Use nodepool.public_ipv4 if nodepool.private_ipv4 is empty
  roles/multi-node-vxlan-overlay/tasks/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Add a flag to handle RabbitMQ high availability
  ansible/group_vars/all.yml
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/barbican/templates/barbican.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/ceilometer/templates/ceilometer.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/designate/templates/designate.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/murano/templates/murano.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/rabbitmq/templates/definitions.json.j2
  ansible/roles/sahara/templates/sahara.conf.j2
  ansible/roles/senlin/templates/senlin.conf.j2
  ansible/roles/solum/templates/solum.conf.j2
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/vitrage/templates/vitrage.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  doc/source/reference/message-queues/rabbitmq.rst
  releasenotes/notes/add-a-flag-to-handle-rabbitmq-high-availability-44c709318be6cb7b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Fix issue with genconfig and octavia_auto_configure
  ansible/roles/octavia/tasks/config.yml
  ansible/roles/octavia/tasks/get_resources_info.yml
  ansible/roles/octavia/tasks/upgrade.yml
  doc/source/reference/networking/octavia.rst
  releasenotes/notes/fix-octavia-config-gen-with-autoconfigure-b2886ffc09fedebd.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-octavia-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-kvm-base: any of: ^ansible/roles/(nova-cell)/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|neutron|nova|nova-cell)/, ^tests/deploy-tenks\.sh$, ^tests/templates/ironic-overrides\.j2$, ^tests/templates/tenks-deploy-config\.yml\.j2$, ^tests/test-dashboard\.sh$, ^tests/test-ironic\.sh$
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-cephadm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-magnum-base: any of: ^ansible/roles/(designate|magnum|trove)/, ^tests/test-dashboard.sh, ^tests/test-magnum.sh
  kolla-ansible-octavia-base: any of: ^ansible/roles/(octavia|octavia-certificates)/, ^tests/test-dashboard.sh, ^tests/test-octavia.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^ansible/roles/hacluster/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-monasca-base: any of: ^ansible/roles/(elasticsearch|influxdb|kafka|kibana|monasca|storm|zookeeper)/, ^tests/test-monasca.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(aodh|barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: any of: ^ansible/roles/nova/, ^tests/test-core-openstack.sh
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(neutron|octavia|openvswitch|ovn)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/, ^tests/test-prometheus-efk.sh
  kolla-ansible-venus-base: any of: ^ansible/roles/(common|elasticsearch|venus)/, ^tests/test-venus.sh
  kolla-ansible-hashi-vault-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
