Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-ubuntu-source-cinder-lvm, kolla-ansible-centos-source-cinder-lvm, kolla-ansible-bifrost-centos-source, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-upgrade-base:
  parent: kolla-ansible-base
  vars:
    previous_release: stein
    scenario: upgrade

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  vars:
    scenario: bifrost
    install_type: source
    enable_core_openstack: false

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

Use valid_interfaces instead of os_interface for placement
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base

CI/Debian: Push images after building
  tools/setup_gate.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

CI: Wait for Zun to delete the test container
  tests/test-zun.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-zun-base

Fixes the compatibility issue at HAProxy role with Ansible 2.9
  ansible/roles/haproxy/templates/haproxy_main.cfg.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Remove endpoint_type from neutron.conf [DEFAULT] group
  ansible/roles/neutron/templates/neutron.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Fix 'nova_cephx_raw_key' is undefined
  ansible/roles/nova-cell/tasks/external_ceph.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

[Train] Fix Tacker config for the local Glance store
  ansible/roles/tacker/defaults/main.yml
  ansible/roles/tacker/tasks/upgrade.yml
  ansible/roles/tacker/templates/tacker-conductor.json.j2
  ansible/roles/tacker/templates/tacker-server.json.j2
  ansible/roles/tacker/templates/tacker.conf.j2
  doc/source/reference/orchestration-and-nfv/tacker-guide.rst
  releasenotes/notes/tacker-train-3f3094b68fdf358e.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-centos-source-scenario-nfv

Delete influxdb admin port
  ansible/group_vars/all.yml
  ansible/roles/influxdb/defaults/main.yml
  ansible/roles/influxdb/tasks/precheck.yml
  ansible/roles/influxdb/templates/influxdb.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Add python3-dev[el] to bindep.txt
  bindep.txt
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Delete influxdb admin port
  ansible/group_vars/all.yml
  ansible/roles/haproxy/templates/haproxy.cfg.j2
  ansible/roles/influxdb/tasks/precheck.yml
  ansible/roles/influxdb/templates/influxdb.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

CI: Refactor a lot
  tests/deploy.sh
  tests/init-core-openstack.sh
  tests/run.yml
  tests/templates/globals-default.j2
  tests/test-core-openstack.sh
  tests/test-dashboard.sh
  tools/dump_info.sh
  tools/setup_gate.sh
  tox.ini
  zuul.d/base.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Fix kolla_ansible python module check
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Add internal TLS variables to globals.yml
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Split out OVS/Linuxbridge agent configs from ml2_conf.ini
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/tasks/config-neutron-fake.yml
  ansible/roles/neutron/tasks/config.yml
  ansible/roles/neutron/templates/linuxbridge_agent.ini.j2
  ansible/roles/neutron/templates/ml2_conf.ini.j2
  ansible/roles/neutron/templates/neutron-linuxbridge-agent.json.j2
  ansible/roles/neutron/templates/neutron-openvswitch-agent-xenapi.json.j2
  ansible/roles/neutron/templates/neutron-openvswitch-agent.json.j2
  ansible/roles/neutron/templates/openvswitch_agent.ini.j2
  ansible/roles/neutron/templates/openvswitch_agent_xenapi.ini.j2
  doc/source/reference/networking/neutron.rst
  releasenotes/notes/split_ovs_lb_agents_config-96f1f90e7d678209.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

[neutron] Adjust neighbour table thresholds
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/tasks/config.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Fix hard-coded admin project name and username in blazar task
  ansible/roles/blazar/tasks/bootstrap.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Start README.rst with a better title
  README.rst
Due: none

Support configuration of Docker client timeout
  ansible/group_vars/all.yml
  ansible/library/kolla_docker.py
  etc/kolla/globals.yml
  releasenotes/notes/docker-client-timeout-dc221b2d350efad8.yaml
  tests/test_kolla_docker.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Fix Swift with kernel 4.19 and later
  ansible/roles/swift/tasks/start.yml
  releasenotes/notes/fix-swift-mount-xfs-nobarrier-44a1601da46d12b9.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Fix Prometheus template generation
  ansible/roles/prometheus/templates/prometheus.yml.j2
  releasenotes/notes/prometheus-config-when-alertmanager-disabled-0090c1570ff4e632.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Added senlin-conductor and senlin-health-manager
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/common/templates/conf/filter/01-rewrite-0.12.conf.j2
  ansible/roles/common/templates/conf/filter/01-rewrite-0.14.conf.j2
  ansible/roles/senlin/defaults/main.yml
  ansible/roles/senlin/handlers/main.yml
  ansible/roles/senlin/tasks/deploy.yml
  ansible/roles/senlin/templates/senlin-conductor.json.j2
  ansible/roles/senlin/templates/senlin-health-manager.json.j2
  ansible/roles/senlin/templates/senlin.conf.j2
  ansible/site.yml
  releasenotes/notes/add-new-senlin-services-b53a9dc26453f947.yaml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Use <project>_install_type instead of kolla_install_type
  ansible/roles/aodh/templates/wsgi-aodh.conf.j2
  ansible/roles/cinder/templates/cinder-wsgi.conf.j2
  ansible/roles/cloudkitty/templates/wsgi-cloudkitty.conf.j2
  ansible/roles/freezer/templates/wsgi-freezer-api.conf.j2
  ansible/roles/gnocchi/templates/wsgi-gnocchi.conf.j2
  ansible/roles/horizon/defaults/main.yml
  ansible/roles/horizon/templates/horizon.conf.j2
  ansible/roles/keystone/templates/wsgi-keystone.conf.j2
  ansible/roles/monasca/templates/monasca-api/wsgi-api.conf.j2
  ansible/roles/monasca/templates/monasca-log-api/wsgi-log-api.conf.j2
  ansible/roles/nova/templates/placement-api-wsgi.conf.j2
  ansible/roles/panko/defaults/main.yml
  ansible/roles/panko/templates/wsgi-panko.conf.j2
  ansible/roles/vitrage/templates/wsgi-vitrage.conf.j2
  ansible/roles/vmtp/defaults/main.yml
  ansible/roles/vmtp/tasks/config.yml
  ansible/roles/zun/templates/wsgi-zun.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-ubuntu-source-cinder-lvm, kolla-ansible-centos-source-cinder-lvm

Add also_notifies to Infoblox backend for Designate
  ansible/roles/designate/templates/pools.yaml.j2
  releasenotes/notes/designate-infoblox-backend-also-notifies-0214cc1e51b838b8.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Improve Apache logging
  ansible/roles/aodh/templates/wsgi-aodh.conf.j2
  ansible/roles/cloudkitty/templates/wsgi-cloudkitty.conf.j2
  ansible/roles/freezer/templates/wsgi-freezer-api.conf.j2
  ansible/roles/gnocchi/templates/wsgi-gnocchi.conf.j2
  ansible/roles/keystone/templates/wsgi-keystone.conf.j2
  ansible/roles/masakari/templates/wsgi-masakari.conf.j2
  ansible/roles/monasca/templates/monasca-api/wsgi-api.conf.j2
  ansible/roles/monasca/templates/monasca-log-api/wsgi-log-api.conf.j2
  ansible/roles/panko/templates/wsgi-panko.conf.j2
  ansible/roles/qinling/templates/wsgi-qinling.conf.j2
  ansible/roles/vitrage/templates/wsgi-vitrage.conf.j2
  ansible/roles/zun/templates/wsgi-zun.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-zun-base, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari

Default to etcd3gw driver for etcd-based coordination
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/designate/templates/designate.conf.j2
  releasenotes/notes/coordination-backend-etcd3gw-8a58a2f5eddd1f57.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ubuntu-source-cinder-lvm, kolla-ansible-centos-source-cinder-lvm

[designate] Add coordination backend for designate workers
  ansible/group_vars/all.yml
  ansible/roles/designate/templates/designate.conf.j2
  doc/source/reference/networking/designate-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/new-variable-designate-coordination-backend-741ec71946e7567e.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$
  kolla-ansible-bifrost-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova)/, ^tests/test-ironic.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd)/, ^tests/test-zun.sh
  kolla-ansible-ubuntu-source-cinder-lvm: any of: ^ansible\/roles\/(cinder|iscsi)\/.*
  kolla-ansible-centos-source-cinder-lvm: any of: ^ansible\/roles\/(cinder|iscsi)\/.*
  kolla-ansible-bifrost-centos-source: any of: ^ansible\/roles\/bifrost\/.*
  kolla-ansible-centos-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh
  kolla-ansible-ubuntu-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh
  kolla-ansible-centos-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh
