Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost
    install_type: source

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-ceph-ansible-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ceph-ansible
    ceph_osd_storetype: ceph-lvm
  required-projects:
  - name: github.com/ceph/ceph-ansible
    override-checkout: v4.0.16

kolla-ansible-masakari-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: masakari

kolla-ansible-mariadb-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: mariadb

kolla-ansible-scenario-nfv-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: scenario_nfv

Fix deprecation warnings in fluentd
  ansible/roles/common/templates/conf/input/01-syslog.conf.j2
  ansible/roles/common/templates/conf/output/00-local.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Update glance configuration file for backend
  ansible/roles/glance/defaults/main.yml
  ansible/roles/glance/templates/glance-api.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix fluentd warnings caused by "type copy"
  ansible/roles/common/templates/conf/output/00-local.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Make /dev/kvm permissions handling more robust
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/tasks/config-host.yml
  ansible/roles/nova-cell/templates/99-kolla-kvm.rules.j2
  releasenotes/notes/bug-1681461-761f0cdf71bcb962.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix some CloudKitty API responses when behind SSL
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  releasenotes/notes/cloudkitty-proxy-headers-da4ea3297063e2e8.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

fix deploy freezer failed when kolla_dev_mod enabled
  ansible/roles/freezer/tasks/deploy.yml
  releasenotes/notes/bug-freezer-dev-mod-failed-af5bebb6c3eaabad.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Make /dev/kvm permissions handling more robust
  ansible/roles/nova/defaults/main.yml
  ansible/roles/nova/tasks/config-host.yml
  ansible/roles/nova/templates/99-kolla-kvm.rules.j2
  releasenotes/notes/bug-1681461-761f0cdf71bcb962.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

CI: add prometheus-efk scenario
  tests/run.yml
  tests/templates/globals-default.j2
  tests/templates/inventory.j2
  tests/test-prometheus-efk.sh
  tools/setup_gate.sh
  zuul.d/base.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Masakari: copy TLS certificates into containers
  ansible/roles/masakari/tasks/config.yml
  ansible/roles/masakari/tasks/copy-certs.yml
  ansible/roles/masakari/templates/masakari.conf.j2
  releasenotes/notes/fix-masakari-tls-64f010c037e95bea.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-cells-base

add missing conditional for octavia
  ansible/roles/octavia/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Ignore Python warnings in kolla-toolbox
  ansible/roles/common/defaults/main.yml
  releasenotes/notes/bug-1888657-44e2f6f3aedc20ba.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Update glance configuration file for backend
  ansible/roles/glance/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Performance: remove unnecessary conditions from includes
  ansible/roles/aodh/tasks/deploy.yml
  ansible/roles/barbican/tasks/deploy.yml
  ansible/roles/blazar/tasks/deploy.yml
  ansible/roles/ceilometer/tasks/deploy.yml
  ansible/roles/cinder/tasks/deploy.yml
  ansible/roles/cloudkitty/tasks/deploy.yml
  ansible/roles/cyborg/tasks/deploy.yml
  ansible/roles/designate/tasks/deploy.yml
  ansible/roles/freezer/tasks/deploy.yml
  ansible/roles/glance/tasks/deploy.yml
  ansible/roles/gnocchi/tasks/deploy.yml
  ansible/roles/heat/tasks/deploy.yml
  ansible/roles/ironic/tasks/deploy.yml
  ansible/roles/karbor/tasks/deploy.yml
  ansible/roles/magnum/tasks/deploy.yml
  ansible/roles/manila/tasks/deploy.yml
  ansible/roles/masakari/tasks/deploy.yml
  ansible/roles/mistral/tasks/deploy.yml
  ansible/roles/monasca/tasks/deploy.yml
  ansible/roles/murano/tasks/deploy.yml
  ansible/roles/octavia/tasks/deploy.yml
  ansible/roles/qinling/tasks/deploy.yml
  ansible/roles/sahara/tasks/deploy.yml
  ansible/roles/senlin/tasks/deploy.yml
  ansible/roles/skydive/tasks/deploy.yml
  ansible/roles/solum/tasks/deploy.yml
  ansible/roles/tacker/tasks/deploy.yml
  ansible/roles/trove/tasks/deploy.yml
  ansible/roles/vitrage/tasks/deploy.yml
  ansible/roles/vmtp/tasks/deploy.yml
  ansible/roles/watcher/tasks/deploy.yml
  ansible/roles/zun/tasks/deploy.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base

Performance: remove unnecessary conditions from includes
  ansible/roles/aodh/tasks/deploy.yml
  ansible/roles/barbican/tasks/deploy.yml
  ansible/roles/blazar/tasks/deploy.yml
  ansible/roles/ceilometer/tasks/deploy.yml
  ansible/roles/cinder/tasks/deploy.yml
  ansible/roles/cloudkitty/tasks/deploy.yml
  ansible/roles/cyborg/tasks/deploy.yml
  ansible/roles/designate/tasks/deploy.yml
  ansible/roles/freezer/tasks/deploy.yml
  ansible/roles/glance/tasks/deploy.yml
  ansible/roles/gnocchi/tasks/deploy.yml
  ansible/roles/heat/tasks/deploy.yml
  ansible/roles/ironic/tasks/deploy.yml
  ansible/roles/karbor/tasks/deploy.yml
  ansible/roles/magnum/tasks/deploy.yml
  ansible/roles/manila/tasks/deploy.yml
  ansible/roles/mistral/tasks/deploy.yml
  ansible/roles/monasca/tasks/deploy.yml
  ansible/roles/murano/tasks/deploy.yml
  ansible/roles/octavia/tasks/deploy.yml
  ansible/roles/sahara/tasks/deploy.yml
  ansible/roles/senlin/tasks/deploy.yml
  ansible/roles/skydive/tasks/deploy.yml
  ansible/roles/solum/tasks/deploy.yml
  ansible/roles/tacker/tasks/deploy.yml
  ansible/roles/trove/tasks/deploy.yml
  ansible/roles/vitrage/tasks/deploy.yml
  ansible/roles/vmtp/tasks/deploy.yml
  ansible/roles/watcher/tasks/deploy.yml
  ansible/roles/zun/tasks/deploy.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base

Revert "Remove the waiting for ironic-api to be accessible"
  ansible/roles/ironic/handlers/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

set delay_auth_decision whenever swift is used
  ansible/roles/swift/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

fluentd: log to a file instead of stdout
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/cron-logrotate-fluentd.conf.j2
  ansible/roles/common/templates/fluentd.json.j2
  releasenotes/notes/bug-1888852-8735ee29f69f77b5.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Improve Grafana DB bootstrap
  ansible/roles/grafana/handlers/main.yml
  ansible/roles/grafana/tasks/upgrade.yml
  ansible/roles/monasca/handlers/main.yml
  ansible/roles/monasca/tasks/upgrade.yml
  releasenotes/notes/fix-multi-instance-grafana-db-bootstrap-298feba3e1750aca.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Set Kafka default replication factor
  ansible/roles/kafka/templates/kafka.server.properties.j2
  releasenotes/notes/improve-kafka-default-topic-replication-0debd5eb89f0c50d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

[docker] Added a new flag to disable default iptables rules
  ansible/group_vars/all.yml
  ansible/roles/baremetal/tasks/post-install.yml
  releasenotes/notes/docker-disable-iptables-e9a248a0515f30a6.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Remove Hyper-V integration
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/nova-hyperv/defaults/main.yml
  ansible/roles/nova-hyperv/handlers/main.yml
  ansible/roles/nova-hyperv/tasks/check.yml
  ansible/roles/nova-hyperv/tasks/config.yml
  ansible/roles/nova-hyperv/tasks/copy-certs.yml
  ansible/roles/nova-hyperv/tasks/deploy.yml
  ansible/roles/nova-hyperv/tasks/install.yml
  ansible/roles/nova-hyperv/tasks/main.yml
  ansible/roles/nova-hyperv/tasks/precheck.yml
  ansible/roles/nova-hyperv/tasks/pull.yml
  ansible/roles/nova-hyperv/tasks/reconfigure.yml
  ansible/roles/nova-hyperv/tasks/stop.yml
  ansible/roles/nova-hyperv/templates/neutron_hyperv_agent.conf.j2
  ansible/roles/nova-hyperv/templates/nova_hyperv.conf.j2
  ansible/roles/nova-hyperv/templates/wsgate.ini.j2
  ansible/roles/nova/defaults/main.yml
  ansible/site.yml
  doc/source/reference/compute/hyperv-guide.rst
  doc/source/reference/compute/index.rst
  doc/source/reference/compute/nova-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/remove-hyperv-fbffba997e1abb61.yaml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

Move TLS documentation to its own page
  doc/source/admin/advanced-configuration.rst
  doc/source/admin/index.rst
  doc/source/admin/tls.rst
Due: none

prometheus-openstack-exporter config service filtering
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/templates/prometheus-openstack-exporter.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Drop RDP console variables
  ansible/group_vars/all.yml
  doc/source/reference/compute/nova-guide.rst
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Drop a no-longer-relevant note
  ansible/site.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-ceph-ansible-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(ovn|neutron)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
