Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-prometheus-efk-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/

mariadb: use add_host to include inactive hosts in shard grouping
  ansible/group_vars/all.yml
  ansible/roles/mariadb/defaults/main.yml
  ansible/roles/mariadb/tasks/main.yml
  releasenotes/notes/bug-1947589-52e7a6fa5d82e7fa.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

docs: Fix python-openstackclient package name and init-runonce path
  doc/source/user/quickstart.rst
Due: none

Fix octavia doesn't set subnet gateway_ip
  ansible/roles/octavia/tasks/prepare.yml
  releasenotes/notes/bug-1949260-34d82ecd677dd8ff.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Replace deprecated assertRaisesRegexp
  kolla_ansible/tests/unit/test_nova_filters.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

docs: Get release name dynamically
  doc/source/conf.py
  doc/source/user/operating-kolla.rst
  doc/source/user/quickstart.rst
Due: none

[release] Set previous_release to xena
  ansible/group_vars/all.yml
  tests/templates/ansible.cfg.j2
  tests/templates/globals-default.j2
  tests/templates/inventory.j2
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

docs: Install openstack-client with upper constraints
  doc/source/user/quickstart.rst
Due: none

docs: fix venv path "share/share"
  doc/source/user/quickstart.rst
Due: none

docs: stop installing kolla in quickstart
  doc/source/user/quickstart.rst
Due: none

Stop creating unused cron/logrotate directory
  ansible/roles/common/tasks/config.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Add way to change logrotate scheduling
  ansible/roles/common/defaults/main.yml
  releasenotes/notes/logrotate-schedule-4d24626629311e6c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Specify log file name for Nova API
  ansible/roles/nova/templates/nova.conf.j2
  releasenotes/notes/bugfix-nova-api-log-file-name-9a377525e73012de.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

Remove Monasca Log Metrics service
  ansible/roles/monasca/defaults/main.yml
  ansible/roles/monasca/handlers/main.yml
  ansible/roles/monasca/tasks/config.yml
  ansible/roles/monasca/templates/monasca-log-metrics/log-metrics.conf.j2
  ansible/roles/monasca/templates/monasca-log-metrics/monasca-log-metrics.json.j2
  releasenotes/notes/remove-monasca-log-metrics-02a81671f864d1a9.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

The deprecated iscsi deploy interface has been removed since xena
  ansible/group_vars/all.yml
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

docs: Parameterize kolla-ansible version and branch
  doc/source/conf.py
  doc/source/user/quickstart.rst
Due: none

Finish removing Monasca Log Transformer
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/monasca_cleanup.yml
  ansible/roles/monasca/defaults/main.yml
  ansible/site.yml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Add kolla-ansible --version option
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

haproxy: remove unused tls check condition in config
  ansible/roles/loadbalancer/templates/haproxy/haproxy_main.cfg.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

haproxy: remove unused tls check condition in config
  ansible/roles/haproxy/templates/haproxy_main.cfg.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Remove unexpected }
  ansible/roles/mariadb/templates/mariadb.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base
