Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-prometheus-efk-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/

CI: Fix new ansible-lint failures
  .ansible-lint
  ansible/roles/baremetal/tasks/install.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Fix Apparmor libvirt profile removal
  ansible/roles/baremetal/tasks/post-install.yml
  releasenotes/notes/fix-apparmor-libvirt-profile-removal-01db6ca6dd66879f.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

[CI] Check fluentd errors
  tests/check-logs.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

CI: Add CentOS Stream 8 jobs
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Updating python testing classifier as per Yoga testing runtime
  setup.cfg
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Fix remove libvirt apparmor disabled profile
  ansible/roles/baremetal/tasks/post-install.yml
  releasenotes/notes/fix-remove-libvirt-apparmor-disabled-profile-2cab584eec729b71.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Refactor fluentd syslog logging
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/templates/conf/filter/00-record_transformer.conf.j2
  ansible/roles/common/templates/conf/output/00-local.conf.j2
  ansible/roles/common/templates/fluentd.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Fix fluentd v1 buffer syntax issue
  ansible/roles/common/templates/conf/output/00-local.conf.j2
  ansible/roles/common/templates/conf/output/01-es.conf.j2
  ansible/roles/common/templates/conf/output/02-monasca.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Add support for VMware NSXP
  ansible/group_vars/all.yml
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/tasks/config.yml
  ansible/roles/neutron/templates/neutron-server.json.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/neutron/templates/nsx.ini.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  doc/source/reference/compute/vmware-guide.rst
  etc/kolla/globals.yml
  etc/kolla/passwords.yml
  releasenotes/notes/add-nsxp-support-10a750d077d51ac6.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

Allow to define extra parameters for Prometheus exporters
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/templates/prometheus-blackbox-exporter.json.j2
  ansible/roles/prometheus/templates/prometheus-cadvisor.json.j2
  ansible/roles/prometheus/templates/prometheus-elasticsearch-exporter.json.j2
  ansible/roles/prometheus/templates/prometheus-haproxy-exporter.json.j2
  ansible/roles/prometheus/templates/prometheus-memcached-exporter.json.j2
  ansible/roles/prometheus/templates/prometheus-mysqld-exporter.json.j2
  ansible/roles/prometheus/templates/prometheus-node-exporter.json.j2
  ansible/roles/prometheus/templates/prometheus-openstack-exporter.json.j2
  etc/kolla/globals.yml
  releasenotes/notes/prometheus-exporters-cmdline-extras-033299871badd2c6.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Add support for VMware First Class Disk (FCD)
  ansible/group_vars/all.yml
  ansible/roles/cinder/defaults/main.yml
  ansible/roles/cinder/tasks/precheck.yml
  ansible/roles/cinder/templates/cinder.conf.j2
  doc/source/reference/compute/vmware-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/add-vmware-fcd-support-11a23ffc28bd541b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-zun-base

Configure node-exporter to report correct file system metrics
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/templates/prometheus-node-exporter.json.j2
  releasenotes/notes/node-exporter-filesystem-metrics-d3ae7b0a892d2957.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Install openstack.kolla collection
  ansible/kolla-host.yml
  ansible/roles/baremetal/defaults/main.yml
  ansible/roles/baremetal/tasks/bootstrap-servers.yml
  ansible/roles/baremetal/tasks/check.yml
  ansible/roles/baremetal/tasks/configure-ceph-for-zun.yml
  ansible/roles/baremetal/tasks/configure-containerd-for-zun.yml
  ansible/roles/baremetal/tasks/install.yml
  ansible/roles/baremetal/tasks/main.yml
  ansible/roles/baremetal/tasks/post-install.yml
  ansible/roles/baremetal/tasks/pre-install.yml
  ansible/roles/baremetal/templates/10-zun-cni.conf.j2
  ansible/roles/baremetal/templates/containerd_config.toml.j2
  ansible/roles/baremetal/templates/docker_systemd_service.j2
  ansible/roles/baremetal/templates/zun-cni.j2
  ansible/roles/baremetal/vars/main.yml
  doc/source/user/operating-kolla.rst
  doc/source/user/quickstart.rst
  requirements.yml
  setup.cfg
  tests/run.yml
  tools/kolla-ansible
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

cloudkitty: fix URL used for Prometheus collector
  ansible/roles/cloudkitty/defaults/main.yml
  releasenotes/notes/cloudkitty-prometheus-url-ee14bc486e810631.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Remove classic queue mirroring for internal RabbitMQ
  ansible/roles/rabbitmq/tasks/upgrade.yml
  ansible/roles/rabbitmq/templates/definitions.json.j2
  releasenotes/notes/remove-queue-mirroring-for-rabbitmq-d54b9e7e25e57a88.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Remove grafana [session] configuration
  ansible/roles/grafana/templates/grafana.ini.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Fix location of release note for ironic-neutron-agent healthcheck
  releasenotes/notes/implement-docker-healthchecks-for-ironic-neutron-agent-61ec4d0d237da075.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Fix hard coded OIDC response type
  ansible/roles/keystone/defaults/main.yml
  ansible/roles/keystone/templates/wsgi-keystone.conf.j2
  releasenotes/notes/fix-hardcoded-oidc-response-fc0f115f0b56cddf.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

CI: Bump Ceph to Pacific
  roles/cephadm/defaults/main.yml
  roles/cephadm/tasks/main.yml
  roles/cephadm/templates/cephadm.yml.j2
  tests/get_logs.sh
  zuul.d/jobs.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Add openvswitch and prometheus to logrotate
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/cron-logrotate-openvswitch.conf.j2
  ansible/roles/common/templates/cron-logrotate-prometheus.conf.j2
  releasenotes/notes/bug-1961795-16fb2ac27152fc03.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Enable Ironic iPXE support by default
  ansible/group_vars/all.yml
  doc/source/reference/bare-metal/ironic-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/ironic-default-ipxe-1e9bb7a3f4994d84.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

CI: cephadm - stop copying keyrings
  tests/get_logs.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base
