Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-monasca-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-efk-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-kvm-base: any of: ^ansible/roles/(nova-cell)/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|neutron|nova|nova-cell)/, ^tests/deploy-tenks\.sh$, ^tests/templates/ironic-overrides\.j2$, ^tests/templates/tenks-deploy-config\.yml\.j2$, ^tests/test-dashboard\.sh$, ^tests/test-ironic\.sh$
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-cephadm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-magnum-base: any of: ^ansible/roles/(designate|magnum|trove)/, ^tests/test-dashboard.sh, ^tests/test-magnum.sh
  kolla-ansible-octavia-base: any of: ^ansible/roles/(octavia|octavia-certificates)/, ^tests/test-dashboard.sh, ^tests/test-octavia.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^ansible/roles/hacluster/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-monasca-base: any of: ^ansible/roles/(elasticsearch|influxdb|kafka|kibana|monasca|storm|zookeeper)/, ^tests/test-monasca.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(aodh|barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: any of: ^ansible/roles/nova/, ^tests/test-core-openstack.sh
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(neutron|octavia|openvswitch|ovn)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/, ^tests/test-prometheus-efk.sh
  kolla-ansible-venus-base: any of: ^ansible/roles/(common|elasticsearch|venus)/, ^tests/test-venus.sh
  kolla-ansible-hashi-vault-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/

Put etcd behind HTTP loadbalancer
  ansible/roles/etcd/defaults/main.yml
  ansible/roles/etcd/tasks/loadbalancer.yml
  ansible/site.yml
  releasenotes/notes/etcd-tcp-loadbalancer-08d9332ee3be9a8b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: Pin ansible-lint to <6.13.0
  lint-requirements.txt
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: cephadm: copy cephadm log
  tests/get_logs.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Fix docker version precheck (bad backport)
  ansible/roles/prechecks/tasks/package_checks.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Add CentOS Stream 9 / Rocky Linux 9 host support
  ansible/group_vars/all.yml
  ansible/roles/openvswitch/defaults/main.yml
  ansible/roles/prechecks/vars/main.yml
  roles/cephadm/defaults/main.yml
  roles/cephadm/tasks/pkg_debian.yml
  roles/cephadm/tasks/pkg_redhat.yml
  tests/pre.yml
  tests/run-hashi-vault.yml
  tests/run.yml
  tests/setup_gate.sh
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

hacluster: Use nodename to align with nova service names
  ansible/roles/hacluster/tasks/bootstrap_service.yml
  ansible/roles/hacluster/templates/hacluster_corosync.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-masakari-base, kolla-ansible-hashi-vault-base

Refactor DockerWorker into ContainerWorker
  ansible/library/kolla_docker.py
  ansible/module_utils/kolla_container_worker.py
  ansible/module_utils/kolla_docker_worker.py
  tests/kolla_docker_tests/__init__.py
  tests/kolla_docker_tests/test_docker_worker.py
  tests/kolla_docker_tests/test_systemd.py
  tests/test_kolla_docker.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Use loadbalancer to connect to etcd
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  releasenotes/notes/use-loadbalancer-for-etcdgw-coordination-6704a8b1389bbabe.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Use loadbalancer to connect to etcd
  ansible/roles/cinder/templates/cinder.conf.j2
  releasenotes/notes/use-loadbalancer-for-etcdgw-coordination-6704a8b1389bbabe.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Default neutron_tls_proxy and glance_tls_proxy to haproxy_tag
  ansible/roles/glance/defaults/main.yml
  ansible/roles/neutron/defaults/main.yml
  releasenotes/notes/tls-proxies-use-haproxy-tag-aa030b5e5df6fbf0.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

[Doc] update REAMDE.rst
  README.rst
Due: none

CI: Run hashivault jobs only for relevant changes
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Add [taskflow] section for masakari.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  releasenotes/notes/fix-masakari-conf-missing-taskflow-section-31b6654e29bec35d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-masakari-base, kolla-ansible-hashi-vault-base

Allow to override CirrOS version in init-runonce
  tools/init-runonce
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

CI: Always build images for centos jobs
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

rocky: add to distro_python_version_map and update CI jobs
  ansible/group_vars/all.yml
  zuul.d/jobs.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: cephadm: Fix EL9 (Rocky)
  roles/cephadm/tasks/main.yml
  roles/cephadm/tasks/pkg_debian.yml
  roles/cephadm/tasks/pkg_redhat.yml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

etcd: Set the proper peer and client protocol when tls is enabled
  ansible/roles/etcd/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Set the etcd internal hostname and cacert for tls internal enabled deployments
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  releasenotes/notes/fix-etcd-coordination-config-b1c9f900ef13be13.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Add neutron_ovn_availability_zones parameter
  ansible/group_vars/all.yml
  ansible/roles/ovn-controller/tasks/setup-ovs.yml
  releasenotes/notes/neutron_ovn_availability_zones-0271d74dbc4f957e.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

ironic: add enable_ironic_dnsmasq parameter
  ansible/group_vars/all.yml
  ansible/roles/ironic/defaults/main.yml
  ansible/roles/ironic/tasks/precheck.yml
  releasenotes/notes/enable_ironic_dnsmasq-4288e3e2b5819f2d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

mariadb: add mariadb_datadir_volume parameter
  ansible/group_vars/all.yml
  ansible/roles/mariadb/defaults/main.yml
  releasenotes/notes/mariadb_datadir_volum-c9a597766c2c8bc8.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-mariadb-base, kolla-ansible-hashi-vault-base

rabbitmq: add rabbitmq_datadir_volume parameter
  ansible/group_vars/all.yml
  ansible/roles/rabbitmq/defaults/main.yml
  releasenotes/notes/rabbitmq_datadir_volume-76e5524b72129144.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

fix bug 1872220
  ansible/roles/common/templates/conf/input/00-global.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-efk-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base

Remove RabbitMQ ha-all policy when not required
  ansible/roles/rabbitmq/tasks/upgrade.yml
  releasenotes/notes/rabbitmq-policy-removal-extra-variable-check-d59177a8c876d34e.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base
