Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base, kolla-ansible-ubuntu-source-cinder-lvm, kolla-ansible-centos-source-cinder-lvm, kolla-ansible-bifrost-centos-source, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-upgrade-base:
  parent: kolla-ansible-base
  vars:
    previous_release: rocky
    scenario: upgrade

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  vars:
    scenario: bifrost
    install_type: source
    enable_core_openstack: false

Openvswitch: some ovs tools require ovs daemons pidfiles
  ansible/roles/openvswitch/templates/start-ovs.j2
  ansible/roles/openvswitch/templates/start-ovsdb-server.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Refactor NSS database var
  ansible/roles/qdrouterd/tasks/precheck.yml
  ansible/roles/rabbitmq/tasks/precheck.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Fix OpenSSL template
  ansible/roles/certificates/templates/openssl-kolla.cnf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Add a spec for ceph-ansible
  specs/ceph-ansible.rst
Due: none

Neutron: add support to use legacy iptables
  ansible/group_vars/all.yml
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/handlers/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Do not disable IPv6 in Tempest
  ansible/roles/tempest/templates/tempest.conf.j2
  releasenotes/notes/tempest-ipv6-default-966350472d857643.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Docs: add nova cells
  doc/source/reference/compute/index.rst
  doc/source/reference/compute/nova-cells-guide.rst
  doc/source/reference/compute/nova-guide.rst
  doc/source/user/multinode.rst
  doc/source/user/operating-kolla.rst
Due: none

Fixes missing boolean for Neutron FWaaS
  ansible/roles/neutron/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

[nova][train] Remove deprecated RetryFilter
  ansible/roles/nova/templates/nova.conf.j2
  releasenotes/notes/nova-remove-deprecated-retryfilter-2e1c0667148c3c99.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Use versioned python binary with fetch ceph keyrings
  ansible/roles/ceph/tasks/deploy.yml
  ansible/roles/ceph/tasks/distribute_keyrings.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Do not install ntp package on host when not used
  ansible/roles/baremetal/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Add unit tests for Nova Cells filters
  ansible/roles/nova-cell/filter_plugins/filters.py
  kolla_ansible/nova_filters.py
  kolla_ansible/tests/unit/data/nova_manage_cli_output_duplicate_cells
  kolla_ansible/tests/unit/data/nova_manage_cli_output_multiple_cells
  kolla_ansible/tests/unit/test_nova_filters.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Fixes Monasca log transformer UTC offset exception
  ansible/roles/monasca/templates/monasca-log-transformer/log-transformer.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

CI: Increase job run attempts to 5
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

CI: Increase timeout for upgrade jobs by 30 minutes
  zuul.d/jobs.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Do not install ntp package on host when not used
  ansible/roles/baremetal/defaults/main.yml
  ansible/roles/baremetal/tasks/install.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Zun: add Cinder (volume) iSCSI support
  ansible/roles/zun/defaults/main.yml
  releasenotes/notes/zun-iscsi-7ca24c2c4eb9d5a5.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

[rocky-only] Fix Zun Compute access to /var/lib/docker
  ansible/roles/zun/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Fix placement being enabled always instead of with nova
  ansible/group_vars/all.yml
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

[train] Finish configuring Zun to use Placement
  ansible/group_vars/all.yml
  ansible/roles/zun/templates/zun.conf.j2
  doc/source/reference/compute/zun-guide.rst
  etc/kolla/globals.yml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Add IPv6 control plane feature release note
  releasenotes/notes/ipv6-control-plane-3deac29612e901b1.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

[train] Add required Tacker Conductor config and docs
  ansible/roles/tacker/defaults/main.yml
  ansible/roles/tacker/tasks/check-containers.yml
  ansible/roles/tacker/tasks/config.yml
  ansible/roles/tacker/tasks/pull.yml
  ansible/roles/tacker/templates/tacker-conductor.json.j2
  doc/source/reference/orchestration-and-nfv/tacker-guide.rst
  releasenotes/notes/tacker-train-3f3094b68fdf358e.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base, kolla-ansible-centos-source-scenario-nfv

Fix Python3 compatibility for kolla-genpwd
  kolla_ansible/cmd/genpwd.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Limit open file descriptors for Neutron agent containers
  ansible/roles/neutron/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Add prelude for Train release
  releasenotes/notes/train-prelude-0b8a0c8fca3ff194.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Extract cephx keys from vault encrypted files
  ansible/roles/nova-cell/tasks/external_ceph.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Perform database migration in monasca upgrade
  ansible/roles/monasca/tasks/upgrade.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Swift: compute the list of containers dynamically in the reconfigure task
  ansible/roles/swift/tasks/reconfigure.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Typo fix in docs
  doc/source/admin/advanced-configuration.rst
Due: none

Docs: Add IPv6 control plane (address families)
  doc/source/admin/production-architecture-guide.rst
Due: none

Remove python clients from test-requirements.txt
  lower-constraints.txt
  test-requirements.txt
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

CI: run check-logs in post too
  tests/check-logs.sh
  tests/post.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Zun: fix Cinder (volume) iSCSI support
  ansible/roles/zun/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Default to disabling haproxy for memcached
  ansible/group_vars/all.yml
  releasenotes/notes/do-not-haproxy-memcached-by-default-4676a56524922c8f.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-bifrost-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^test-requirements.txt$)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^test-requirements.txt$
  kolla-ansible-bifrost-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^test-requirements.txt$
  kolla-ansible-ubuntu-source-cinder-lvm: any of: ^ansible\/roles\/(cinder|iscsi)\/.*
  kolla-ansible-centos-source-cinder-lvm: any of: ^ansible\/roles\/(cinder|iscsi)\/.*
  kolla-ansible-bifrost-centos-source: any of: ^ansible\/roles\/bifrost\/.*
  kolla-ansible-centos-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh
  kolla-ansible-ubuntu-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh
  kolla-ansible-centos-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh
