Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-prometheus-efk-base, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8s-source-mariadb, kolla-ansible-ubuntu-source-mariadb

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-upgrade-base:
  parent: kolla-ansible-base
  vars:
    previous_release: stein
    is_upgrade: true

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost
    install_type: source

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-masakari-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: masakari

kolla-ansible-scenario-nfv-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: scenario_nfv

kolla-ansible-prometheus-efk-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: prometheus-efk

Multiple DHCP ranges for Ironic Inspector
  ansible/roles/ironic/defaults/main.yml
  ansible/roles/ironic/tasks/precheck.yml
  ansible/roles/ironic/templates/ironic-dnsmasq.conf.j2
  doc/source/reference/bare-metal/ironic-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/ironic-inspector-multiple-ranges-b7c734d38b90c331.yaml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

Configure Prometheus Pushgateway Options
  ansible/roles/ceilometer/defaults/main.yml
  ansible/roles/ceilometer/templates/pipeline.yaml.j2
  releasenotes/notes/feature-1968597-4b414566f82c90fa.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

libvirt: Fix nova-libvirt-cleanup command
  ansible/roles/nova-cell/tasks/libvirt-cleanup.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

Deprecate enable_ironic_pxe_uefi
  ansible/group_vars/all.yml
  etc/kolla/globals.yml
  releasenotes/notes/deprecate-enable_ironic_pxe_uefi-80ce3653029098ba.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Switch prometheus to active/passive mode
  ansible/roles/prometheus/defaults/main.yml
  releasenotes/notes/prometheus-active-passive-be4fb033493e958f.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

[CI] Make kolla-build quiet
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

fluentd: remove deprecated parameter
  ansible/roles/common/templates/conf/input/00-global.conf.j2
  ansible/roles/common/templates/conf/input/01-syslog.conf.j2
  ansible/roles/common/templates/conf/input/02-mariadb.conf.j2
  ansible/roles/common/templates/conf/input/03-rabbitmq.conf.j2
  ansible/roles/common/templates/conf/input/04-openstack-wsgi.conf.j2
  ansible/roles/common/templates/conf/input/05-libvirt.conf.j2
  ansible/roles/common/templates/conf/input/06-zookeeper.conf.j2
  ansible/roles/common/templates/conf/input/07-kafka.conf.j2
  ansible/roles/common/templates/conf/input/09-monasca.conf.j2
  ansible/roles/common/templates/conf/input/10-openvswitch.conf.j2
  ansible/roles/common/templates/conf/output/00-local.conf.j2
  ansible/roles/common/templates/conf/output/01-es.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Fix ansible version in install command
  doc/source/user/quickstart.rst
  doc/source/user/virtual-environments.rst
Due: none

[CI] Always use quay.io via infra's mirror
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Add doc fix for all-in-one in venv
  doc/source/user/quickstart.rst
Due: none

[ironic] add coordination backend for ironic inspector
  ansible/group_vars/all.yml
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  etc/kolla/globals.yml
  releasenotes/notes/ironic-inspector-coordination-19d47c1d2849d56f.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

nova: use any_errors_fatal for once-per-cell tasks
  ansible/nova.yml
  ansible/roles/nova-cell/tasks/discover_computes.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

CI: add binary->source upgrade job
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Fix formatting of code block
  doc/source/reference/logging-and-monitoring/prometheus-guide.rst
Due: none

[bifrost] add bifrost_deploy_verbosity parameter
  ansible/roles/bifrost/defaults/main.yml
  ansible/roles/bifrost/tasks/bootstrap.yml
  ansible/roles/bifrost/tasks/deploy-servers.yml
  releasenotes/notes/bifrost-deploy-verbosity-f6a90727649285b5.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base

nova: improve compute service registration failure handling
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/tasks/deploy.yml
  ansible/roles/nova-cell/tasks/discover_computes.yml
  ansible/roles/nova-cell/tasks/wait_discover_computes.yml
  doc/source/reference/compute/nova-guide.rst
  releasenotes/notes/nova-discover-hosts-0353e9274f22195c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base

Performance: site.yml remove redundant 'when'
  ansible/site.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Use 'cloudkitty_influxdb_use_ssl' when creatign InfluxDB database
  ansible/roles/cloudkitty/defaults/main.yml
  ansible/roles/cloudkitty/tasks/bootstrap.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

Skip /etc/kolla/globals.d on host cleanup
  tools/cleanup-host
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base

fix missing lang env in curator crontab
  ansible/roles/elasticsearch/templates/elasticsearch-curator.crontab.j2
  releasenotes/notes/bug-1919328-9a9550e73392436e.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-upgrade-base, kolla-ansible-ipv6-base, kolla-ansible-prometheus-efk-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8s-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-ubuntu-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8s-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-centos8s-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-ubuntu-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
