Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost
    install_type: source

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-ceph-ansible-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ceph-ansible
    ceph_osd_storetype: ceph-lvm
  required-projects:
  - name: github.com/ceph/ceph-ansible
    override-checkout: v4.0.16

kolla-ansible-masakari-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: masakari

kolla-ansible-mariadb-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: mariadb

kolla-ansible-scenario-nfv-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: scenario_nfv

Replace internal and external VIP CA with root CA
  ansible/group_vars/all.yml
  ansible/roles/certificates/tasks/generate.yml
  ansible/roles/common/templates/admin-openrc.sh.j2
  etc/kolla/globals.yml
  releasenotes/notes/generate-self-signed-root-ca-bc523acab7290cfe.yaml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

fix deploy nova failed when use kolla_dev_mod
  ansible/roles/nova/tasks/bootstrap.yml
  ansible/roles/nova/tasks/deploy.yml
  releasenotes/notes/bug-nova-dev-mod-failed-ad4e64f5a5bc2a6a.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

CI: Install python dependencies
  tests/pre.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

CI: Make ARA rsync quiet
  tests/post.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix issues with Prometheus config generation
  ansible/roles/prometheus/tasks/config.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Switch octavia to use service project in service_auth
  ansible/roles/octavia/defaults/main.yml
  ansible/roles/octavia/tasks/register.yml
  ansible/roles/octavia/templates/octavia.conf.j2
  releasenotes/notes/remove-octavia-user-in-admin-project-action-95c87ca45a1188d6.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Remove max count from Cinder online schema migration
  ansible/roles/cinder/defaults/main.yml
  ansible/roles/cinder/tasks/upgrade.yml
  releasenotes/notes/fix-cinder-upgrade-max-count-ab928f85f224c63d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

CI: use venv only (and not virtualenv)
  tests/deploy-ceph-ansible.sh
  tests/pre.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix STATIC_ROOT for Debian, Ubuntu
  ansible/roles/horizon/templates/local_settings.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Revert rename of Monasca API config file
  ansible/roles/monasca/templates/monasca-api/api.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Make octavia service_auth project configurable
  ansible/roles/octavia/defaults/main.yml
  ansible/roles/octavia/tasks/register.yml
  ansible/roles/octavia/templates/octavia.conf.j2
  releasenotes/notes/fix-octavia-service-auth-project-849a4e5bd852e9c7.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add support of octavia dev mod
  ansible/roles/octavia/defaults/main.yml
  ansible/roles/octavia/handlers/main.yml
  ansible/roles/octavia/tasks/bootstrap_service.yml
  ansible/roles/octavia/tasks/clone.yml
  ansible/roles/octavia/tasks/deploy.yml
  releasenotes/notes/add-support-octavia-dev-mod-c785e7be398c7c8e.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Adding support for multiple globals files
  doc/source/user/quickstart.rst
  releasenotes/notes/add-multiple-globals-files-support-a75bde9f02b7b022.yaml
  specs/multiple-globals-files.rst
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Remove mongodb integration
  README.rst
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/cron-logrotate-mongodb.conf.j2
  ansible/roles/common/templates/cron.json.j2
  ansible/roles/haproxy/tasks/precheck.yml
  ansible/roles/mongodb/defaults/main.yml
  ansible/roles/mongodb/handlers/main.yml
  ansible/roles/mongodb/meta/main.yml
  ansible/roles/mongodb/tasks/bootstrap.yml
  ansible/roles/mongodb/tasks/bootstrap_cluster.yml
  ansible/roles/mongodb/tasks/check-containers.yml
  ansible/roles/mongodb/tasks/check.yml
  ansible/roles/mongodb/tasks/config.yml
  ansible/roles/mongodb/tasks/deploy-containers.yml
  ansible/roles/mongodb/tasks/deploy.yml
  ansible/roles/mongodb/tasks/loadbalancer.yml
  ansible/roles/mongodb/tasks/main.yml
  ansible/roles/mongodb/tasks/precheck.yml
  ansible/roles/mongodb/tasks/pull.yml
  ansible/roles/mongodb/tasks/reconfigure.yml
  ansible/roles/mongodb/tasks/stop.yml
  ansible/roles/mongodb/tasks/upgrade.yml
  ansible/roles/mongodb/templates/bootstrap_cluster.js.j2
  ansible/roles/mongodb/templates/mongodb.conf.j2
  ansible/roles/mongodb/templates/mongodb.json.j2
  ansible/site.yml
  etc/kolla/globals.yml
  releasenotes/notes/remove-mongodb-fcdfba997e1abb51.yaml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Run tox in venv in case of building images
  tests/run.yml
  tools/setup_gate.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix prometheus-elasticsearch-exporter flags
  ansible/roles/prometheus/templates/prometheus-elasticsearch-exporter.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Remove the neutron-fwaas roles since it retired
  ansible/group_vars/all.yml
  ansible/roles/horizon/defaults/main.yml
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/tasks/config.yml
  ansible/roles/neutron/templates/fwaas_driver.ini.j2
  ansible/roles/neutron/templates/neutron-l3-agent-wrapper.sh.j2
  ansible/roles/neutron/templates/neutron-l3-agent.json.j2
  ansible/roles/neutron/templates/neutron-server.json.j2
  etc/kolla/globals.yml
  releasenotes/notes/remove-neutron-fwaas-0g6a327ae69e2117.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

octavia: Add documentation
  doc/source/conf.py
  doc/source/reference/networking/index.rst
  doc/source/reference/networking/octavia.rst
Due: none

nova-cell role clone failed
  ansible/roles/nova-cell/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Remove mox3 from lower-constraints.txt
  lower-constraints.txt
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Enable ZooKeeper when Storm is enabled
  ansible/group_vars/all.yml
  etc/kolla/globals.yml
  releasenotes/notes/storm-enable-zookeeper-2108156acced1c57.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Run tox in venv in case of building images
  tests/pre.yml
  tests/run.yml
  tools/setup_gate.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

barbican: Use python3 plugin in uwsgi config
  ansible/roles/barbican/templates/barbican-api.ini.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base

Fix Magnum trust operations in multi-region clouds
  ansible/roles/magnum/templates/magnum.conf.j2
  releasenotes/notes/magnum-trustee-keystone-region-name-002162a45f855faf.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Use internalURL endpoint_type for all clients used by Magnum
  ansible/roles/magnum/templates/magnum.conf.j2
  releasenotes/notes/clients-in-magnum-use-internalURL-af3ad82af71a88c6.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Change neutron-ovs-agent deploy only with manila generic backend
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/openvswitch/defaults/main.yml
  releasenotes/notes/bug-1884939-7c77b8002d3ff52d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

Support CA certificate for fluentd & Elasticsearch
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/templates/conf/output/00-local.conf.j2
  ansible/roles/common/templates/conf/output/01-es.conf.j2
  releasenotes/notes/fluentd-elasticsearch-cacert-0e8824dd57052913.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Verify TLS by default for Kibana to Elasticsearch
  ansible/roles/kibana/defaults/main.yml
  releasenotes/notes/kibana-tls-verify-8bfcb822268ad0d8.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Improve error reporting in password utilities
  kolla_ansible/cmd/genpwd.py
  kolla_ansible/cmd/mergepwd.py
  releasenotes/notes/improve-pwd-errors-7563a3cc941c3091.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

openvswitch: Use ansible_hostname for system-id
  ansible/roles/openvswitch/defaults/main.yml
  releasenotes/notes/bug-1884734-ec054799d3300778.yaml
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-ceph-ansible-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(ovn|neutron)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
