Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-monasca-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-efk-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-kvm-base: any of: ^ansible/roles/(nova-cell)/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|neutron|nova|nova-cell)/, ^tests/deploy-tenks\.sh$, ^tests/templates/ironic-overrides\.j2$, ^tests/templates/tenks-deploy-config\.yml\.j2$, ^tests/test-dashboard\.sh$, ^tests/test-ironic\.sh$
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-cephadm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-magnum-base: any of: ^ansible/roles/(designate|magnum|trove)/, ^tests/test-dashboard.sh, ^tests/test-magnum.sh
  kolla-ansible-octavia-base: any of: ^ansible/roles/(octavia|octavia-certificates)/, ^tests/test-dashboard.sh, ^tests/test-octavia.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^ansible/roles/hacluster/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-monasca-base: any of: ^ansible/roles/(elasticsearch|influxdb|kafka|kibana|monasca|storm|zookeeper)/, ^tests/test-monasca.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(aodh|barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: any of: ^ansible/roles/nova/, ^tests/test-core-openstack.sh
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(neutron|octavia|openvswitch|ovn)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
  kolla-ansible-prometheus-efk-base: any of: ^ansible/roles/(common|elasticsearch|grafana|kibana|prometheus)/, ^tests/test-prometheus-efk.sh
  kolla-ansible-venus-base: any of: ^ansible/roles/(common|elasticsearch|venus)/, ^tests/test-venus.sh
  kolla-ansible-hashi-vault-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/

docs: Fix note block
  doc/source/user/quickstart.rst
Due: none

Fix passwords.yml permissions
  kolla_ansible/cmd/genpwd.py
  kolla_ansible/cmd/mergepwd.py
  kolla_ansible/cmd/readpwd.py
  kolla_ansible/cmd/writepwd.py
  releasenotes/notes/fix-passwords-yml-permissions-ca73638b71aeadf4.yaml
  tests/run-hashi-vault.yml
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

opensearch-dashboard: fix permissions
  ansible/roles/opensearch/templates/opensearch-dashboards.json.j2
  releasenotes/notes/bug-2020152-165c87048d92dedb.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Fix the Cyborg service
  ansible/roles/cyborg/defaults/main.yml
  ansible/roles/cyborg/templates/cyborg.conf.j2
  releasenotes/notes/fix-cyborg-service-5bc5bf8748daf504.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Add support for multiple ceph files
  ansible/group_vars/all.yml
  ansible/roles/cinder/defaults/main.yml
  ansible/roles/cinder/tasks/external_ceph.yml
  ansible/roles/cinder/templates/cinder-backup.json.j2
  ansible/roles/cinder/templates/cinder-volume.json.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/glance/defaults/main.yml
  ansible/roles/glance/tasks/external_ceph.yml
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/glance/templates/glance-api.json.j2
  ansible/roles/gnocchi/defaults/main.yml
  ansible/roles/gnocchi/tasks/external_ceph.yml
  ansible/roles/gnocchi/templates/gnocchi-api.json.j2
  ansible/roles/gnocchi/templates/gnocchi-metricd.json.j2
  ansible/roles/gnocchi/templates/gnocchi-statsd.json.j2
  ansible/roles/gnocchi/templates/gnocchi.conf.j2
  ansible/roles/manila/defaults/main.yml
  ansible/roles/manila/tasks/external_ceph.yml
  ansible/roles/manila/templates/manila-share.conf.j2
  ansible/roles/manila/templates/manila-share.json.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/tasks/external_ceph.yml
  ansible/roles/nova-cell/templates/nova-compute.json.j2
  ansible/roles/zun/defaults/main.yml
  ansible/roles/zun/tasks/external_ceph.yml
  ansible/roles/zun/templates/zun-compute.json.j2
  doc/source/reference/storage/external-ceph-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/multiple-ceph-backends-913051631c6e69ee.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Refactor MariaDB and RabbitMQ restart procedure
  ansible/mariadb.yml
  ansible/rabbitmq.yml
  ansible/roles/mariadb/handlers/main.yml
  ansible/roles/mariadb/tasks/deploy.yml
  ansible/roles/mariadb/tasks/post-deploy.yml
  ansible/roles/mariadb/tasks/post-upgrade.yml
  ansible/roles/mariadb/tasks/upgrade.yml
  ansible/roles/prechecks/vars/main.yml
  ansible/roles/rabbitmq/handlers/main.yml
  ansible/roles/rabbitmq/tasks/deploy.yml
  ansible/roles/rabbitmq/tasks/post-deploy.yml
  ansible/roles/rabbitmq/tasks/upgrade.yml
  ansible/site.yml
  doc/source/user/quickstart.rst
  doc/source/user/virtual-environments.rst
  releasenotes/notes/mariadb-restart-refactor-529502bf5d12b0f4.yaml
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-mariadb-base, kolla-ansible-hashi-vault-base

Fix Bifrost: remove an extra curly bracket
  ansible/roles/bifrost/tasks/deploy-servers.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Add keystone_authtoken.service_type
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/barbican/templates/barbican.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/designate/templates/designate.conf.j2
  ansible/roles/freezer/templates/freezer.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/gnocchi/templates/gnocchi.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/monasca/templates/monasca-api/api.conf.j2
  ansible/roles/murano/templates/murano.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/placement/templates/placement.conf.j2
  ansible/roles/sahara/templates/sahara.conf.j2
  ansible/roles/senlin/templates/senlin.conf.j2
  ansible/roles/solum/templates/solum.conf.j2
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/vitrage/templates/vitrage.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  releasenotes/notes/fix-app-cred-access-rules-14b5dcfcd5a5669a.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-monasca-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Fixing kolla_container_engine option
  ansible/roles/openvswitch/templates/ovs-vsctl.j2
  ansible/roles/ovn-db/tasks/bootstrap-db.yml
  ansible/roles/rabbitmq/tasks/remove-ha-all-policy.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Use friendly prometheus instance labels
  ansible/group_vars/all.yml
  ansible/roles/prometheus/templates/prometheus.yml.j2
  doc/source/reference/logging-and-monitoring/prometheus-guide.rst
  releasenotes/notes/friendly-hostnames-1bb1254b2b434a11.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-efk-base, kolla-ansible-hashi-vault-base

Set previous_release to stable/2023.1
  ansible/group_vars/all.yml
  zuul.d/base.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Fix log collection
  tests/post.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Add python 3.10 to setup.cfg metadata
  setup.cfg
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Fix issue with octavia security group rules creation
  ansible/roles/octavia/defaults/main.yml
  ansible/roles/octavia/tasks/prepare.yml
  releasenotes/notes/bug-2023502-68acc8637510cb22.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-octavia-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Updating proxysql.yaml.j2 to use mariadb_port for backends
  ansible/roles/loadbalancer/templates/proxysql/proxysql.yaml.j2
  releasenotes/notes/proxysql-template-mariadb-port-cf8f2d88c0962b75.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Use better default bind address for ironic-tftp
  ansible/group_vars/all.yml
  ansible/roles/ironic/defaults/main.yml
  ansible/roles/ironic/templates/ironic-tftp.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Fix glance-api failed to start privsep daemon
  ansible/roles/glance/defaults/main.yml
  releasenotes/notes/bug-2024541-98c2864f16f8eb59.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Correct [pci] syntax in Nova SRIOV documentation
  doc/source/reference/networking/sriov.rst
Due: none

loadbalancer: Add option to not define track script
  ansible/roles/loadbalancer/defaults/main.yml
  ansible/roles/loadbalancer/tasks/config.yml
  ansible/roles/loadbalancer/templates/keepalived/keepalived.conf.j2
  releasenotes/notes/keepalived_track_script-edfebb520f006647.yaml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: drop ceph jobs ulimit config for EL9
  tests/templates/globals-default.j2
  tests/test-core-openstack.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

zun: Fix capsule functionality and tests
  ansible/roles/zun/templates/zun.conf.j2
  tests/test-zun.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Trivial: Add deploy-containers for skyline
  ansible/roles/skyline/tasks/deploy-containers.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base
