Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base, kolla-ansible-bifrost-centos-source, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari, kolla-ansible-centos-source-mariadb, kolla-ansible-centos8-source-mariadb, kolla-ansible-ubuntu-source-mariadb

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova|nova-cell)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-ceph-ansible-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-linuxbridge-base: any of: ^ansible/roles/neutron/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(ovn|neutron)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh
  kolla-ansible-bifrost-centos-source: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-centos-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-scenario-nfv: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-ubuntu-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos8-source-masakari: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-centos-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-centos8-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-ubuntu-source-mariadb: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh

Fix Barbican client (Castellan) with TLS (part 2)
  ansible/roles/nova-cell/templates/nova.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

ubuntu: move to 20.04 Focal
  ansible/group_vars/all.yml
  ansible/roles/prechecks/vars/main.yml
  doc/source/user/quickstart.rst
  doc/source/user/support-matrix.rst
  tests/run.yml
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

[CI] Temporarily block new Ansible
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Fix post-deploy mode
  ansible/post-deploy.yml
  releasenotes/notes/bug-1891145-95e3943e8e030962.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

[CI] Temporarily block new Ansible
  tools/setup_gate.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Revert "Fix post-deploy mode"
  ansible/post-deploy.yml
  releasenotes/notes/bug-1891145-95e3943e8e030962.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

[doc] add ovn plugin into globals.yml file
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Fix fluentd warnings caused by "type copy"
  ansible/roles/common/templates/conf/output/00-local.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Synchronize REST_API_REQUIRED_SETTINGS with Horizon
  ansible/roles/horizon/templates/local_settings.j2
  releasenotes/notes/sync-horizon-rest-api-required-settings-099875e53248b62c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

CI: enable Ansible SSH pipelining
  tests/templates/ansible.cfg.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add Keep Alive Timeout for httpd
  ansible/group_vars/all.yml
  ansible/roles/aodh/templates/wsgi-aodh.conf.j2
  ansible/roles/cinder/templates/cinder-wsgi.conf.j2
  ansible/roles/cloudkitty/templates/wsgi-cloudkitty.conf.j2
  ansible/roles/freezer/templates/wsgi-freezer-api.conf.j2
  ansible/roles/gnocchi/templates/wsgi-gnocchi.conf.j2
  ansible/roles/heat/templates/wsgi-heat-api-cfn.conf.j2
  ansible/roles/heat/templates/wsgi-heat-api.conf.j2
  ansible/roles/keystone/templates/wsgi-keystone.conf.j2
  ansible/roles/masakari/templates/wsgi-masakari.conf.j2
  ansible/roles/monasca/templates/monasca-api/wsgi-api.conf.j2
  ansible/roles/panko/templates/wsgi-panko.conf.j2
  ansible/roles/placement/templates/placement-api-wsgi.conf.j2
  ansible/roles/qinling/templates/wsgi-qinling.conf.j2
  ansible/roles/vitrage/templates/wsgi-vitrage.conf.j2
  ansible/roles/zun/templates/wsgi-zun.conf.j2
  etc/kolla/globals.yml
  releasenotes/notes/add-keep-alive-timeout-for-httpd-0d51a9d139c50f66.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-centos-source-scenario-nfv, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-ubuntu-source-masakari, kolla-ansible-centos-source-masakari, kolla-ansible-centos8-source-masakari

Prevent overwriting existing Keystone Fernet keys
  ansible/roles/keystone/tasks/bootstrap_service.yml
  releasenotes/notes/prevent-keystone-bootstrap-limit-f0250725633c16de.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Deploy neutron-mlnx-agent and neutron-eswitchd containers
  ansible/group_vars/all.yml
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/handlers/main.yml
  ansible/roles/neutron/tasks/config.yml
  ansible/roles/neutron/templates/eswitchd.conf
  ansible/roles/neutron/templates/mlnx_agent.ini.j2
  ansible/roles/neutron/templates/neutron-eswitchd.json.j2
  ansible/roles/neutron/templates/neutron-mlnx-agent.json.j2
  ansible/roles/nova-cell/templates/libvirtd.conf.j2
  doc/source/reference/networking/neutron.rst
  releasenotes/notes/neutron-mlnx-agent-3e7b3aecbb298811.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

Add support for encrypting Nova API
  ansible/roles/nova/defaults/main.yml
  ansible/roles/nova/tasks/config.yml
  ansible/roles/nova/templates/nova-api-wsgi.conf.j2
  ansible/roles/nova/templates/nova-api.json.j2
  ansible/roles/nova/templates/nova.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add missing mistral services log files
  ansible/roles/common/templates/conf/filter/01-rewrite-0.12.conf.j2
  ansible/roles/common/templates/conf/filter/01-rewrite-0.14.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Deprecate kolla_internal_address variable
  ansible/group_vars/all.yml
  releasenotes/notes/remove-kolla_internal_address-variable-d3674b6001498c52.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add support to use bifrost-deploy behind proxy
  ansible/roles/bifrost/tasks/start.yml
  releasenotes/notes/bifrost-deploy-behind-proxy-e41f84e8d49a9ddf.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-bifrost-centos-source

Skip broken ansible-lint
  test-requirements.txt
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Fix tz handling for newly introduced services
  ansible/roles/neutron/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

Fix ownership and permissions of admin-openrc.sh
  ansible/post-deploy.yml
  releasenotes/notes/fix-admin-openrc-ownership-mode-310d89a6f50a9640.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Use iSCSI multipath for libvirt
  ansible/roles/nova-cell/templates/nova.conf.d/libvirt.conf.j2
  releasenotes/notes/nova-libvirt-multipath-iscsi-eb961e44e6fec9ff.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add cinder auth config to nova-cell nova.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  releasenotes/notes/fix-evacuate-cinder-encryption-489f8cf6a340e7be.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Add workaround for keystonemiddleware/neutron memcached issue
  ansible/roles/neutron/templates/neutron.conf.j2
  releasenotes/notes/fix-neutron-memcached-connection-issue-84f5affa217b4612.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base, kolla-ansible-linuxbridge-base, kolla-ansible-ovn-base

remove obsolete configurations
  ansible/group_vars/all.yml
  doc/source/admin/production-architecture-guide.rst
  etc/kolla/globals.yml
  tools/validate-all-file.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Delete the /var/log/kolla directory should use sudo
  tools/cleanup-containers
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base

Update String type for Monasca ES template
  ansible/roles/monasca/templates/monasca-log-persister/elasticsearch-template.json
  releasenotes/notes/update-monasca-elasticsearch-template-41492c59acaf92b1.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ceph-ansible-base, kolla-ansible-cells-base
