Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-opensearch-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base, kolla-ansible-haproxy-base, kolla-ansible-lets-encrypt-base, kolla-ansible-skyline-base, kolla-ansible-skyline-sso-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-kvm-base: any of: ^requirements-core.yml, ^ansible/roles/(nova-cell)/, ^tests/templates/nova-compute-overrides.j2
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$
  kolla-ansible-bifrost-base: any of: ^requirements-core.yml, ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^requirements-core.yml, ^ansible/roles/(ironic|neutron|nova|nova-cell)/, ^tests/deploy-tenks\.sh$, ^tests/templates/ironic-overrides\.j2$, ^tests/templates/tenks-deploy-config\.yml\.j2$, ^tests/test-dashboard\.sh$, ^tests/test-ironic\.sh$
  kolla-ansible-zun-base: any of: ^requirements-core.yml, ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^requirements-core.yml, ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-cephadm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$
  kolla-ansible-magnum-base: any of: ^requirements-core.yml, ^ansible/roles/(designate|magnum|trove)/, ^tests/test-dashboard.sh, ^tests/test-magnum.sh
  kolla-ansible-octavia-base: any of: ^requirements-core.yml, ^ansible/roles/(octavia|octavia-certificates)/, ^tests/test-dashboard.sh, ^tests/test-octavia.sh
  kolla-ansible-masakari-base: any of: ^requirements-core.yml, ^ansible/roles/masakari/, ^ansible/roles/hacluster/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^requirements-core.yml, ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^requirements-core.yml, ^ansible/roles/(aodh|barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: any of: ^requirements-core.yml, ^ansible/roles/nova/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^requirements-core.yml, ^ansible/roles/(neutron|octavia|openvswitch|ovn-controller|ovn-db)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh, ^tests/reconfigure.sh
  kolla-ansible-prometheus-opensearch-base: any of: ^requirements-core.yml, ^ansible/roles/(common|opensearch|grafana|prometheus)/, ^tests/test-prometheus-opensearch.sh
  kolla-ansible-venus-base: any of: ^requirements-core.yml, ^ansible/roles/(common|opensearch|venus)/, ^tests/test-venus.sh
  kolla-ansible-hashi-vault-base: any of: ^requirements-core.yml, ^kolla_ansible/, ^tests/run-hashi-vault.yml, ^tests/test-hashicorp-vault-passwords.sh
  kolla-ansible-haproxy-base: any of: ^ansible/roles/haproxy/, ^kolla_ansible/kolla_url.py
  kolla-ansible-lets-encrypt-base: any of: ^requirements-core.yml, ^ansible/roles/common/templates/conf/input/11-letsencrypt.conf.j2, ^ansible/roles/letsencrypt/, ^ansible/roles/loadbalancer/, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/deploy.sh
  kolla-ansible-skyline-base: any of: ^requirements-core.yml, ^ansible/roles/skyline/, ^tests/test-skyline.sh
  kolla-ansible-skyline-sso-base: any of: ^requirements-core.yml, ^ansible/roles/skyline/, ^tests/test-skyline-sso.sh

Fix mariadb backup unable to create history table
  ansible/roles/mariadb/tasks/register.yml
  releasenotes/notes/bug-2061889-f54e356f43c0fae3.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-mariadb-base

Change from PERCONA_SCHEMA to mysql for mariabackup
  ansible/roles/mariadb/defaults/main.yml
  ansible/roles/mariadb/tasks/register.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-mariadb-base

Add logrotate config for redis
  ansible/roles/common/tasks/config.yml
  ansible/roles/common/templates/cron-logrotate-redis.conf.j2
  releasenotes/notes/bug-2084523-a02f38eecf6c957a.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-opensearch-base, kolla-ansible-venus-base

Fix internal endpoint for the heat-cfn service
  ansible/roles/heat/defaults/main.yml
  releasenotes/notes/heat-cfn-internal-endpoint-bug-2087537-0f5fb5d997e5a92b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-scenario-nfv-base

Fix inventory file for cyborg control services
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  releasenotes/notes/fix-cyborg-api-conductor-placement-f0cdf7274d31ffc0.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Do not remove inventory file if placed in /etc/kolla
  ansible/roles/destroy/tasks/cleanup_host.yml
  releasenotes/notes/bug-2052706-dfbbc75fc72c74d1.yaml
  tools/cleanup-host
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Updating proxysql.yaml.j2 to use mariadb_port for backends
  ansible/roles/loadbalancer/templates/proxysql/proxysql.yaml.j2
  releasenotes/notes/proxysql-template-mariadb-port-cf8f2d88c0962b75.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-lets-encrypt-base

Fix IPv6 address format in ProxySQL configuration
  ansible/roles/loadbalancer/templates/proxysql/proxysql.yaml.j2
  releasenotes/notes/bug-2081106-ef0df790780c612d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-lets-encrypt-base

Update user role assignments
  ansible/roles/service-ks-register/tasks/main.yml
  releasenotes/notes/update-user-role-assignments-c8e487445a6cadef.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Give ironic-inspector system scope ``all``
  ansible/roles/ironic/defaults/main.yml
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  releasenotes/notes/give-ironic-inspector-user-system-scope-all-5fe5cb7f9a03ee7b.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base

Updates docs to fix incorrect container example
  doc/source/admin/mariadb-backup-and-restore.rst
Due: none

cli: Add check=True to catch Ansible failures
  kolla_ansible/utils.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

CI: Use libpod/registry for registry
  tests/setup_gate.sh
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Use more descriptive libvirt secret names corresponding to reality
  ansible/roles/nova-cell/tasks/external_ceph.yml
  ansible/roles/nova-cell/templates/secret.xml.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base

Enhance Ceph Integration for Multiple Clusters
  ansible/group_vars/all.yml
  ansible/roles/cinder/defaults/main.yml
  ansible/roles/cinder/tasks/external_ceph.yml
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/glance/defaults/main.yml
  ansible/roles/glance/tasks/external_ceph.yml
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/gnocchi/defaults/main.yml
  ansible/roles/gnocchi/tasks/external_ceph.yml
  ansible/roles/gnocchi/templates/gnocchi.conf.j2
  ansible/roles/manila/defaults/main.yml
  ansible/roles/manila/tasks/external_ceph.yml
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/tasks/external_ceph.yml
  ansible/roles/nova-cell/templates/nova-compute.json.j2
  ansible/roles/nova-cell/templates/nova-libvirt.json.j2
  ansible/roles/nova-cell/templates/nova.conf.d/libvirt.conf.j2
  ansible/roles/zun/defaults/main.yml
  ansible/roles/zun/tasks/external_ceph.yml
  ansible/roles/zun/templates/zun-compute.json.j2
  doc/source/reference/storage/external-ceph-guide.rst
  doc/source/user/operating-kolla.rst
  etc/kolla/globals.yml
  releasenotes/notes/enhance-ceph-multiple-clusters-integration-d29815a12c223152.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base

Quickstart guide - remove Ansible dependency
  doc/source/user/quickstart-development.rst
  doc/source/user/quickstart.rst
Due: none

set haproxy for cyborg module
  ansible/group_vars/all.yml
  ansible/roles/cyborg/defaults/main.yml
  releasenotes/notes/fix-cyborg-haproxy-missing-variables-2f00c677a7003005.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Avoid double quotes in HAProxy configuration
  ansible/roles/keystone/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

update openstack_previous_release_name var to 2024.1
  ansible/group_vars/all.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Fix external ceph cinder keyring
  ansible/roles/nova-cell/tasks/external_ceph.yml
  releasenotes/notes/external-ceph-cinder_key-1a4c38fff3e2ab3c.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base

Fix nova-libvirt's secrets - device or resource is busy
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova-cell/tasks/deploy.yml
  ansible/roles/nova-cell/tasks/post-config.yml
  ansible/roles/nova-cell/tasks/rolling_upgrade.yml
  releasenotes/notes/bug-2073678-45f31547395ef3c7.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base

Fix TLS settings when letsencrypt turned on
  ansible/group_vars/all.yml
  ansible/roles/certificates/tasks/generate.yml
  ansible/roles/certificates/tasks/main.yml
  ansible/roles/letsencrypt/defaults/main.yml
  ansible/roles/letsencrypt/templates/crontab.j2
  ansible/roles/letsencrypt/templates/letsencrypt-lego-run.sh.j2
  ansible/roles/loadbalancer/defaults/main.yml
  ansible/roles/loadbalancer/tasks/config.yml
  ansible/roles/loadbalancer/tasks/copy-certs.yml
  ansible/roles/loadbalancer/tasks/precheck.yml
  ansible/roles/loadbalancer/templates/haproxy/haproxy.json.j2
  ansible/roles/rabbitmq/defaults/main.yml
  ansible/roles/service-cert-copy/defaults/main.yml
  ansible/roles/service-cert-copy/tasks/main.yml
  doc/source/admin/tls.rst
  releasenotes/notes/bug-2076331-f4ef64ad0a12aa85.yaml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-lets-encrypt-base

[stable/2024.1 only] CI: remove openeuler
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base
