Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-opensearch-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base, kolla-ansible-haproxy-base, kolla-ansible-lets-encrypt-base, kolla-ansible-skyline-base, kolla-ansible-skyline-sso-base

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-kvm-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    virt_type: kvm

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    neutron_external_network_prefix: 'fd:1::'
    neutron_external_network_prefix_length: '64'
    neutron_tenant_network_prefix: 'fd:f0::'
  ...

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  required-projects:
  - openstack/tenks
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-cephadm-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: cephadm

kolla-ansible-magnum-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: magnum

kolla-ansible-octavia-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: octavia

Skyline: Fix incorrect keystone port
  ansible/roles/skyline/templates/nginx.conf.j2
  releasenotes/notes/fix-skyline-keystone-port-0a25395608f572d9.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-skyline-base, kolla-ansible-skyline-sso-base

RMQ: enable all stable feature flags at once
  ansible/rabbitmq.yml
  ansible/roles/rabbitmq/defaults/main.yml
  ansible/roles/rabbitmq/tasks/feature-flags.yml
  releasenotes/notes/rabbitmq-enable-all-feature-flags-at-once-28b76958abf54083.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Fix kolla-ansible systemd restart behaviour
  ansible/module_utils/kolla_systemd_worker.py
  releasenotes/notes/fix-systemd-restart-5fc282419cf13589.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Fix the docker container dimensions comparison for short notation
  ansible/module_utils/kolla_container_worker.py
  releasenotes/notes/fix-restarting-container-even-with-no-changes-when-using-dimensions-ad94b657b6c29cfc.yaml
  tests/kolla_container_tests/test_docker_worker.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Adds option to add extra scrape targets for node exporter
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/templates/prometheus.yml.j2
  doc/source/reference/logging-and-monitoring/prometheus-guide.rst
  releasenotes/notes/adds-node-exporter-targets-extra-c037d4755d1002e8.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-opensearch-base

heat: set backups_enabled based on cinder-backup
  ansible/roles/heat/templates/heat.conf.j2
  releasenotes/notes/heat-volumes-backup-enabled-4e9799558677e6cd.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-scenario-nfv-base

add a config validation precheck for haproxy
  ansible/roles/loadbalancer/tasks/config_validate.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-lets-encrypt-base

Support mode in named volumes when using podman
  ansible/module_utils/kolla_podman_worker.py
  releasenotes/notes/fixes-podman-named-volume-issues-when-using-mode-36b9862321eb9e68.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Patch service-cert-copy role to be used w/o HAProxy
  ansible/roles/service-cert-copy/tasks/main.yml
  releasenotes/notes/service-cert-copy-without-haproxy-85d45834469aa9e8.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

feat:support kylin linux
  ansible/roles/prechecks/vars/main.yml
  tests/pre.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

chore:support up to v9 ansible
  .gitignore
  ansible/roles/prechecks/vars/main.yml
  lint-requirements.txt
  test-requirements.txt
  tests/run.yml
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

fix:compatible with ansible syntax
  ansible/roles/service-ks-register/tasks/main.yml
  ansible/roles/service-rabbitmq/tasks/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Enhanced explanation of volume handling with podman
  ansible/module_utils/kolla_podman_worker.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Use Bookworm for Debian upgrade jobs and update docs
  doc/source/user/support-matrix.rst
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Drop OpenEuler host OS support (due to no python3.10+)
  ansible/roles/prechecks/vars/main.yml
  doc/source/user/quickstart-development.rst
  doc/source/user/quickstart.rst
  doc/source/user/support-matrix.rst
  releasenotes/notes/drop-openeuler-support-ab48de4656af2485.yaml
  tests/pre.yml
  tests/templates/globals-default.j2
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Bullseye removal followup - remove from prechecks
  ansible/roles/prechecks/vars/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Fix podman healtcheck when not enabled
  ansible/module_utils/kolla_podman_worker.py
  releasenotes/notes/bug-2071912-89d2fba8865ddf40.yaml
  tests/kolla_container_tests/test_docker_worker.py
  tests/kolla_container_tests/test_podman_worker.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Fix barbican's configuration
  ansible/roles/barbican/templates/barbican.conf.j2
  releasenotes/notes/bug-2072554-d113b89975985520.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-scenario-nfv-base

Fix prechecks for interfaces with dashes
  ansible/roles/loadbalancer/tasks/precheck.yml
  ansible/roles/prechecks/tasks/port_checks.yml
  doc/source/admin/production-architecture-guide.rst
  doc/source/reference/logging-and-monitoring/prometheus-guide.rst
  roles/cephadm/tasks/main.yml
  tests/run.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-lets-encrypt-base

Add precheck for Horizon config file renames in Caracal
  ansible/roles/horizon/tasks/precheck.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

[CI] Force config drive for ipv6 jobs
  tests/run.yml
  tests/templates/nova-compute-overrides.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

ci: bump up ceph release
  roles/cephadm/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Add ca_path for module uri in opensearch role
  ansible/roles/opensearch/handlers/main.yml
  ansible/roles/opensearch/tasks/post-config.yml
  releasenotes/notes/add-opensearch-uri-68a657c55ce9c9f1.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-opensearch-base, kolla-ansible-venus-base

Fix mariadb recovery
  ansible/roles/mariadb/tasks/recover_cluster.yml
  releasenotes/notes/bug-2073370-268e9a76be9f2ae9.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-mariadb-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-kvm-base: any of: ^requirements-core.yml, ^ansible/roles/(nova-cell)/, ^tests/templates/nova-compute-overrides.j2
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$
  kolla-ansible-bifrost-base: any of: ^requirements-core.yml, ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^requirements-core.yml, ^ansible/roles/(ironic|neutron|nova|nova-cell)/, ^tests/deploy-tenks\.sh$, ^tests/templates/ironic-overrides\.j2$, ^tests/templates/tenks-deploy-config\.yml\.j2$, ^tests/test-dashboard\.sh$, ^tests/test-ironic\.sh$
  kolla-ansible-zun-base: any of: ^requirements-core.yml, ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^requirements-core.yml, ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-cephadm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$
  kolla-ansible-magnum-base: any of: ^requirements-core.yml, ^ansible/roles/(designate|magnum|trove)/, ^tests/test-dashboard.sh, ^tests/test-magnum.sh
  kolla-ansible-octavia-base: any of: ^requirements-core.yml, ^ansible/roles/(octavia|octavia-certificates)/, ^tests/test-dashboard.sh, ^tests/test-octavia.sh
  kolla-ansible-masakari-base: any of: ^requirements-core.yml, ^ansible/roles/masakari/, ^ansible/roles/hacluster/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^requirements-core.yml, ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^requirements-core.yml, ^ansible/roles/(aodh|barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: any of: ^requirements-core.yml, ^ansible/roles/nova/, ^tests/test-core-openstack.sh
  kolla-ansible-ovn-base: any of: ^requirements-core.yml, ^ansible/roles/(neutron|octavia|openvswitch|ovn-controller|ovn-db)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh, ^tests/reconfigure.sh
  kolla-ansible-prometheus-opensearch-base: any of: ^requirements-core.yml, ^ansible/roles/(common|opensearch|grafana|prometheus)/, ^tests/test-prometheus-opensearch.sh
  kolla-ansible-venus-base: any of: ^requirements-core.yml, ^ansible/roles/(common|opensearch|venus)/, ^tests/test-venus.sh
  kolla-ansible-hashi-vault-base: any of: ^requirements-core.yml, ^kolla_ansible/, ^tests/run-hashi-vault.yml, ^tests/test-hashicorp-vault-passwords.sh
  kolla-ansible-haproxy-base: any of: ^ansible/roles/haproxy/, ^kolla_ansible/kolla_url.py
  kolla-ansible-lets-encrypt-base: any of: ^requirements-core.yml, ^ansible/roles/common/templates/conf/input/11-letsencrypt.conf.j2, ^ansible/roles/letsencrypt/, ^ansible/roles/loadbalancer/, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/deploy.sh
  kolla-ansible-skyline-base: any of: ^requirements-core.yml, ^ansible/roles/skyline/, ^tests/test-skyline.sh
  kolla-ansible-skyline-sso-base: any of: ^requirements-core.yml, ^ansible/roles/skyline/, ^tests/test-skyline-sso.sh
