Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-ceph-ansible-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-ceph-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ceph
  host-vars:
    primary:
      ceph_osd_storetype: filestore
    secondary1:
      ceph_osd_storetype: bluestore
    secondary2:
      ceph_osd_storetype: bluestore

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    address_family: ipv6

kolla-ansible-bifrost-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: bifrost
    install_type: source

kolla-ansible-ironic-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-ceph-ansible-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: ceph-ansible
    ceph_osd_storetype: ceph-lvm
  required-projects:
  - name: github.com/ceph/ceph-ansible
    override-checkout: v4.0.7

Add emit_unmatched_lines to fluentd config
  ansible/roles/common/templates/conf/input/00-global.conf.j2
  ansible/roles/common/templates/conf/input/02-mariadb.conf.j2
  ansible/roles/common/templates/conf/input/03-rabbitmq.conf.j2
  ansible/roles/common/templates/conf/input/04-openstack-wsgi.conf.j2
  ansible/roles/common/templates/conf/input/05-libvirt.conf.j2
  ansible/roles/common/templates/conf/input/06-zookeeper.conf.j2
  ansible/roles/common/templates/conf/input/07-kafka.conf.j2
  ansible/roles/common/templates/conf/input/08-opendaylight.conf.j2
  ansible/roles/common/templates/conf/input/09-caso.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Allow customization of caso messengers
  ansible/roles/caso/defaults/main.yml
  ansible/roles/caso/templates/caso.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

[WIP] Modify kolla-ansible to deploy an Octavia using dual CAs for servers (amphorae) and clients (controllers)
  ansible/roles/octavia/tasks/precheck.yml
  ansible/roles/octavia/templates/octavia-health-manager.json.j2
  ansible/roles/octavia/templates/octavia-housekeeping.json.j2
  ansible/roles/octavia/templates/octavia-worker.json.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  etc/kolla/passwords.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Add creation of Octavia client key passphrase
  etc/kolla/passwords.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Remove cert_generator config directive
  ansible/roles/octavia/templates/octavia.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Renamed caso fluentd input file
  ansible/roles/common/templates/conf/input/10-caso.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fixup for bad cherry-pick in commit 65899df48bd4d0de19b6d1d8585c4356cd50d28c
  ansible/roles/prometheus/tasks/config.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fixup bad cherry-pick 0ac657ff619b3fc704044a2397b0ad334aba8245
  ansible/roles/prometheus/templates/prometheus-server.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

[Community goal] Update the contributor guide
  CONTRIBUTING.rst
  doc/source/contributor/CONTRIBUTING.rst
  doc/source/contributor/adding-a-new-service.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
  doc/source/contributor/release-notes.rst
Due: none

enable prometheus-openstack-exporter to use ca cert
  ansible/roles/prometheus/templates/clouds.yml.j2
  releasenotes/notes/bug-1850812-e840453d44e17d34.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix duplicated exporter mounts
  ansible/roles/prometheus/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Add First login steps back into Kibana doc
  doc/source/reference/logging-and-monitoring/central-logging-guide.rst
Due: none

Improve error reporting in password utilities
  kolla_ansible/cmd/genpwd.py
  kolla_ansible/cmd/mergepwd.py
  releasenotes/notes/improve-pwd-errors-7563a3cc941c3091.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Update .gitreview for stable/ussuri
  .gitreview
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Remove post_config from the Kibana role
  ansible/roles/kibana/defaults/main.yml
  ansible/roles/kibana/tasks/deploy.yml
  ansible/roles/kibana/tasks/post_config.yml
  releasenotes/notes/bug-1799689-c8612c73649ac483.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Switch to Monasca API for logs
  ansible/group_vars/all.yml
  ansible/inventory/all-in-one
  ansible/inventory/multinode
  ansible/roles/common/templates/conf/filter/01-rewrite-0.12.conf.j2
  ansible/roles/common/templates/conf/filter/01-rewrite-0.14.conf.j2
  ansible/roles/common/templates/conf/input/00-global.conf.j2
  ansible/roles/common/templates/conf/output/00-local.conf.j2
  ansible/roles/common/templates/conf/output/02-monasca.conf.j2
  ansible/roles/haproxy/tasks/precheck.yml
  ansible/roles/monasca/defaults/main.yml
  ansible/roles/monasca/handlers/main.yml
  ansible/roles/monasca/tasks/config.yml
  ansible/roles/monasca/tasks/deploy.yml
  ansible/roles/monasca/tasks/precheck.yml
  ansible/roles/monasca/tasks/upgrade.yml
  ansible/roles/monasca/templates/monasca-api/monasca-api.conf.j2
  ansible/roles/monasca/templates/monasca-api/monasca-api.json.j2
  ansible/roles/monasca/templates/monasca-log-api/log-api-paste.ini.j2
  ansible/roles/monasca/templates/monasca-log-api/log-api.conf.j2
  ansible/roles/monasca/templates/monasca-log-api/monasca-log-api.json.j2
  ansible/roles/monasca/templates/monasca-log-api/wsgi-log-api.conf.j2
  ansible/site.yml
  releasenotes/notes/use-unified-monasca-api-for-logs-8c6829e7fb1ccf8b.yaml
  tests/templates/inventory.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Use Ussuri images in Ussuri deployments
  ansible/group_vars/all.yml
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Make openstack_release more obvious
  ansible/group_vars/all.yml
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Remove confusing docs
  doc/source/user/quickstart.rst
Due: none

Check that used Ansible can see Kolla Ansible
  releasenotes/notes/bug-1856346-59d0f01005d56e81.yaml
  tools/kolla-ansible
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Fix kolla_source_version for stable
  ansible/group_vars/all.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Safeguard kolla_source_version
  ansible/group_vars/all.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Revert "Remove confusing docs"
  doc/source/user/quickstart.rst
Due: none

CentOS 8: Support Elasticsearch & Kibana 6.x
  ansible/roles/elasticsearch/defaults/main.yml
  ansible/roles/kibana/defaults/main.yml
  releasenotes/notes/elasticsearch-kibana-6-6621548e948d9d23.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ceph-base, kolla-ansible-ipv6-base, kolla-ansible-cells-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ceph-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|nova)/, ^tests/test-ironic.sh, ^tests/test-dashboard.sh
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-ceph-ansible-base: any of: ^ansible/roles/(cinder|glance|gnocchi|nova-cell)/, ^tests/deploy-ceph-ansible.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: unless all of: ^.*\.rst$, ^doc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^zuul\.d/
