Repository openstack/kolla-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-bifrost-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-mariadb-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-ovn-base, kolla-ansible-prometheus-opensearch-base, kolla-ansible-venus-base, kolla-ansible-hashi-vault-base, kolla-ansible-haproxy-base, kolla-ansible-lets-encrypt-base, kolla-ansible-skyline-base, kolla-ansible-skyline-sso-base

kolla-ansible-base:
  pre-run: tests/pre.yml
  run: tests/run.yml
  post-run: tests/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - openstack/kolla
  - openstack/requirements
  vars:
    scenario: aio

kolla-ansible-centos-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: source

kolla-ansible-ubuntu-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source

kolla-ansible-oraclelinux-source:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source

kolla-ansible-centos-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: centos
    install_type: binary

kolla-ansible-ubuntu-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial
  voting: false
  vars:
    base_distro: ubuntu
    install_type: binary

kolla-ansible-oraclelinux-binary:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: binary

kolla-ansible-ubuntu-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-xenial-multi
  voting: false
  vars:
    base_distro: ubuntu
    install_type: source
    scenario: ceph

kolla-ansible-centos-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: centos
    install_type: source
    scenario: ceph

kolla-ansible-oraclelinux-source-ceph:
  parent: kolla-ansible-base
  nodeset: kolla-ansible-centos-multi
  voting: false
  vars:
    base_distro: oraclelinux
    install_type: source
    scenario: ceph

kolla-ansible-scenario-base:
  parent: kolla-ansible-base

kolla-ansible-kvm-base:
  parent: kolla-ansible-scenario-base
  voting: false
  vars:
    virt_type: kvm

kolla-ansible-ipv6-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    api_network_prefix: 'fd::'
    api_network_prefix_length: '64'
    kolla_internal_vip_address: fd::ff:0
    neutron_external_network_prefix: 'fd:1::'
    neutron_external_network_prefix_length: '64'
    neutron_tenant_network_prefix: 'fd:f0::'
  ...

kolla-ansible-bifrost-base:
  parent: kolla-ansible-scenario-base
  voting: false
  vars:
    scenario: bifrost

kolla-ansible-ironic-base:
  parent: kolla-ansible-scenario-base
  voting: false
  required-projects:
  - openstack/tenks
  vars:
    scenario: ironic

kolla-ansible-zun-base:
  parent: kolla-ansible-scenario-base
  voting: false
  vars:
    scenario: zun

kolla-ansible-swift-base:
  parent: kolla-ansible-scenario-base
  voting: false
  vars:
    scenario: swift

kolla-ansible-cephadm-base:
  parent: kolla-ansible-base
  voting: false
  vars:
    scenario: cephadm

kolla-ansible-magnum-base:
  parent: kolla-ansible-scenario-base
  voting: false
  vars:
    scenario: magnum

Set lock_path for openstack services
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/barbican/templates/barbican.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/ceilometer/templates/ceilometer.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/venus/templates/venus.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-ovn-base, kolla-ansible-venus-base

Support mounting host's /dev/shm into container
  ansible/group_vars/all.yml
  ansible/roles/aodh/defaults/main.yml
  ansible/roles/barbican/defaults/main.yml
  ansible/roles/blazar/defaults/main.yml
  ansible/roles/ceilometer/defaults/main.yml
  ansible/roles/cinder/defaults/main.yml
  ansible/roles/cloudkitty/defaults/main.yml
  ansible/roles/cyborg/defaults/main.yml
  ansible/roles/designate/defaults/main.yml
  ansible/roles/glance/defaults/main.yml
  ansible/roles/heat/defaults/main.yml
  ansible/roles/ironic/defaults/main.yml
  ansible/roles/keystone/defaults/main.yml
  ansible/roles/magnum/defaults/main.yml
  ansible/roles/manila/defaults/main.yml
  ansible/roles/masakari/defaults/main.yml
  ansible/roles/mistral/defaults/main.yml
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/nova-cell/defaults/main.yml
  ansible/roles/nova/defaults/main.yml
  ansible/roles/octavia/defaults/main.yml
  ansible/roles/tacker/defaults/main.yml
  ansible/roles/trove/defaults/main.yml
  ansible/roles/venus/defaults/main.yml
  ansible/roles/watcher/defaults/main.yml
  ansible/roles/zun/defaults/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-ovn-base, kolla-ansible-venus-base

Add oslo.messaging Queue Manager
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/barbican/templates/barbican.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/ceilometer/templates/ceilometer.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/designate/templates/designate.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova-cell/tasks/discover_computes.yml
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/rabbitmq/tasks/precheck.yml
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove-guestagent.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  releasenotes/notes/add-queue-manager-3ce79655ac37c345.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-ovn-base

Rabbitmq: enable quorum for transient queues
  ansible/group_vars/all.yml
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/barbican/templates/barbican.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/ceilometer/templates/ceilometer.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/designate/templates/designate.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/rabbitmq/tasks/precheck.yml
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove-guestagent.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  releasenotes/notes/enable_quorum_queues_transient-020b373831acda36.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-ovn-base

rabbitmq: Add support for using stream queues for fanout
  ansible/group_vars/all.yml
  ansible/roles/aodh/templates/aodh.conf.j2
  ansible/roles/barbican/templates/barbican.conf.j2
  ansible/roles/blazar/templates/blazar.conf.j2
  ansible/roles/ceilometer/templates/ceilometer.conf.j2
  ansible/roles/cinder/templates/cinder.conf.j2
  ansible/roles/cloudkitty/templates/cloudkitty.conf.j2
  ansible/roles/cyborg/templates/cyborg.conf.j2
  ansible/roles/designate/templates/designate.conf.j2
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/heat/templates/heat.conf.j2
  ansible/roles/ironic/templates/ironic-inspector.conf.j2
  ansible/roles/ironic/templates/ironic.conf.j2
  ansible/roles/keystone/templates/keystone.conf.j2
  ansible/roles/magnum/templates/magnum.conf.j2
  ansible/roles/manila/templates/manila.conf.j2
  ansible/roles/masakari/templates/masakari.conf.j2
  ansible/roles/mistral/templates/mistral.conf.j2
  ansible/roles/neutron/templates/neutron.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/octavia/templates/octavia.conf.j2
  ansible/roles/prechecks/tasks/service_checks.yml
  ansible/roles/rabbitmq/tasks/precheck.yml
  ansible/roles/tacker/templates/tacker.conf.j2
  ansible/roles/trove/templates/trove-guestagent.conf.j2
  ansible/roles/trove/templates/trove.conf.j2
  ansible/roles/watcher/templates/watcher.conf.j2
  ansible/roles/zun/templates/zun.conf.j2
  releasenotes/notes/rabbitmq-fanout-stream-queue-type-5b73723aa5e9b231.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-magnum-base, kolla-ansible-octavia-base, kolla-ansible-masakari-base, kolla-ansible-scenario-nfv-base, kolla-ansible-cells-base, kolla-ansible-ovn-base

Upgrade RabbitMQ docs for the Dalmatian release
  doc/source/reference/message-queues/rabbitmq.rst
Due: none

Upgrade RabbitMQ docs for the Caracal release
  doc/source/reference/message-queues/rabbitmq.rst
Due: none

Manage mysqld db user only from db related hosts
  ansible/roles/prometheus/tasks/bootstrap.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-opensearch-base

Replace ipaddr with ansible.utils.ipaddr
  ansible/roles/loadbalancer/tasks/precheck.yml
  ansible/roles/ovs-dpdk/defaults/main.yml
  roles/multi-node-managed-addressing/tasks/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-cells-base, kolla-ansible-lets-encrypt-base

Upgrade Prometheus to v3
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/tasks/upgrade.yml
  releasenotes/notes/upgrade-prometheus-to-v3-bdf73866e7a93194.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-opensearch-base

fixed jinja2 template variable parsing
  ansible/roles/cinder/templates/cinder-api.json.j2
  ansible/roles/nova/templates/nova-api.json.j2
  ansible/roles/nova/templates/nova-metadata.json.j2
  ansible/roles/placement/templates/placement-api.json.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-cells-base

fix Zun There are not enough hosts available by fixing missing 2375 docker port
  ansible/group_vars/all.yml
  ansible/roles/zun/tasks/deploy.yml
  ansible/roles/zun/tasks/docker_config.yml
  ansible/roles/zun/templates/docker.conf.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base

cyborg: support for dev mode
  ansible/roles/cyborg/defaults/main.yml
  ansible/roles/cyborg/handlers/main.yml
  ansible/roles/cyborg/tasks/bootstrap_service.yml
  ansible/roles/cyborg/tasks/deploy.yml
  releasenotes/notes/cyborg-dev-mode-74dcc234d996db42.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Add Pure Storage FlashBlade as Manila backend
  ansible/group_vars/all.yml
  ansible/roles/manila/defaults/main.yml
  ansible/roles/manila/templates/manila-share.conf.j2
  doc/source/reference/storage/index.rst
  doc/source/reference/storage/manila-pure-guide.rst
  etc/kolla/globals.yml
  releasenotes/notes/pure-manila-flashblade-34668c3cd91ee3f0.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Cinder: move to block-storage in service catalog
  ansible/roles/cinder/defaults/main.yml
  ansible/roles/glance/templates/glance-api.conf.j2
  ansible/roles/nova-cell/templates/nova.conf.j2
  ansible/roles/nova/templates/nova.conf.j2
  ansible/roles/skyline/templates/skyline.yaml.j2
  releasenotes/notes/cinder-use-block-storage-in-service-catalog-7063d6b7d1039e36.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-kvm-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-zun-base, kolla-ansible-swift-base, kolla-ansible-cephadm-base, kolla-ansible-cells-base, kolla-ansible-skyline-base, kolla-ansible-skyline-sso-base

Remove notifiers from loadbalancer config
  ansible/roles/haproxy-config/tasks/main.yml
  ansible/roles/proxysql-config/tasks/main.yml
  ansible/site.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Docs: update RabbitMQ HA instructions
  doc/source/reference/message-queues/rabbitmq.rst
Due: none

Remove warning from password rotation docs page
  doc/source/admin/password-rotation.rst
Due: none

Run ML2/OVS agents processes in separate containers
  ansible/roles/neutron/defaults/main.yml
  ansible/roles/neutron/handlers/main.yml
  doc/source/reference/networking/neutron.rst
  releasenotes/notes/bug-1891469-4f8a45c29bde55e5.yaml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-ipv6-base, kolla-ansible-ironic-base, kolla-ansible-cephadm-base, kolla-ansible-ovn-base, kolla-ansible-hashi-vault-base

Fix duplicate names in Prometheus volumes
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/tasks/upgrade.yml
  releasenotes/notes/upgrade-prometheus-to-v3-bdf73866e7a93194.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-opensearch-base

doc: remove keystone admin port cleanup
  doc/source/user/operating-kolla.rst
Due: none

prometheus: Fix running blackbox-exporter on podman
  ansible/roles/prometheus/defaults/main.yml
  ansible/roles/prometheus/handlers/main.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-prometheus-opensearch-base

Add key type for letsencrypt certificate
  ansible/roles/letsencrypt/defaults/main.yml
  ansible/roles/letsencrypt/templates/letsencrypt-lego-run.sh.j2
  etc/kolla/globals.yml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-lets-encrypt-base

cinder: check for coordination backend when HA
  ansible/roles/cinder/tasks/precheck.yml
  tests/templates/globals-default.j2
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-scenario-base, kolla-ansible-ipv6-base, kolla-ansible-zun-base, kolla-ansible-cephadm-base, kolla-ansible-hashi-vault-base

Update .gitreview for stable/2025.1
  .gitreview
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

CI: Disable slurp jobs for 2025.2 (current master)
  zuul.d/project.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Allow to run post-deploy without privilege escalation
  ansible/post-deploy.yml
  ansible/roles/octavia/defaults/main.yml
  ansible/roles/octavia/tasks/openrc.yml
  releasenotes/notes/post-deploy-without-privilege-escalation-9427cb91d32fbd8d.yaml
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base, kolla-ansible-octavia-base, kolla-ansible-ovn-base

Resolve warnings of testing library
  tests/test_kolla_container_facts.py
Due: kolla-ansible-base, kolla-ansible-centos-source, kolla-ansible-ubuntu-source, kolla-ansible-oraclelinux-source, kolla-ansible-centos-binary, kolla-ansible-ubuntu-binary, kolla-ansible-oraclelinux-binary, kolla-ansible-ubuntu-source-ceph, kolla-ansible-centos-source-ceph, kolla-ansible-oraclelinux-source-ceph, kolla-ansible-ipv6-base, kolla-ansible-cephadm-base

Path conditions:
  kolla-ansible-base: (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$)
  kolla-ansible-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-ubuntu-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-oraclelinux-source-ceph: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-scenario-base: any of: ^ansible/group_vars/all.yml, ^requirements-core.yml, ^tests/templates/(inventory|globals-default.j2), ^tests/(pre|run).yml
  kolla-ansible-kvm-base: any of: ^ansible/roles/(nova-cell)/, ^tests/templates/nova-compute-overrides.j2
  kolla-ansible-ipv6-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$
  kolla-ansible-bifrost-base: any of: ^ansible/roles/bifrost/, ^tests/test-bifrost.sh
  kolla-ansible-ironic-base: any of: ^ansible/roles/(ironic|neutron|nova|nova-cell)/, ^tests/deploy-tenks\.sh$, ^tests/templates/ironic-overrides\.j2$, ^tests/templates/tenks-deploy-config\.yml\.j2$, ^tests/test-dashboard\.sh$, ^tests/test-ironic\.sh$
  kolla-ansible-zun-base: any of: ^ansible/roles/(zun|kuryr|etcd|cinder|iscsi)/, ^tests/setup_disks.sh, ^tests/test-core-openstack.sh, ^tests/test-zun.sh, ^tests/test-dashboard.sh
  kolla-ansible-swift-base: any of: ^ansible/roles/(glance|swift)/, ^tests/setup_disks.sh, ^tests/init-swift.sh, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/test-swift.sh
  kolla-ansible-cephadm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*$, ^deploy-guide/.*$, ^test-requirements.txt$, ^lint-requirements.txt$, ^etc/kolla/globals.yml$, ^tox.ini$, ^\..+, ^LICENSE$, ^contrib/, ^specs/, ^kolla_ansible/tests/, ^tools/validate-.*$
  kolla-ansible-magnum-base: any of: ^ansible/roles/(designate|magnum|trove)/, ^tests/test-dashboard.sh, ^tests/test-magnum.sh
  kolla-ansible-octavia-base: any of: ^ansible/roles/(octavia|octavia-certificates)/, ^tests/test-dashboard.sh, ^tests/test-octavia.sh
  kolla-ansible-masakari-base: any of: ^ansible/roles/masakari/, ^ansible/roles/hacluster/, ^tests/test-masakari.sh, ^tests/test-dashboard.sh
  kolla-ansible-mariadb-base: any of: ^ansible/roles/mariadb/, ^tests/test-mariadb.sh
  kolla-ansible-scenario-nfv-base: any of: ^ansible/roles/(aodh|barbican|heat|mistral|redis|tacker)/, ^tests/test-scenario-nfv.sh, ^tests/test-dashboard.sh
  kolla-ansible-cells-base: any of: ^ansible/roles/nova/, ^ansible/roles/loadbalancer/, ^tests/test-core-openstack.sh, ^tests/test-proxysql.sh
  kolla-ansible-ovn-base: any of: ^ansible/roles/(neutron|octavia|openvswitch|ovn-controller|ovn-db)/, ^tests/test-ovn.sh, ^tests/test-core-openstack.sh, ^tests/reconfigure.sh
  kolla-ansible-prometheus-opensearch-base: any of: ^ansible/roles/(common|opensearch|grafana|prometheus)/, ^tests/test-prometheus-opensearch.sh
  kolla-ansible-venus-base: any of: ^ansible/roles/(common|opensearch|venus)/, ^tests/test-venus.sh
  kolla-ansible-hashi-vault-base: any of: ^requirements-core.yml, ^tests/templates/(inventory|globals-default.j2), ^tests/(pre|run).yml, ^kolla_ansible/, ^tests/run-hashi-vault.yml, ^tests/test-hashicorp-vault-passwords.sh
  kolla-ansible-haproxy-base: any of: ^ansible/roles/haproxy/, ^kolla_ansible/kolla_url.py
  kolla-ansible-lets-encrypt-base: any of: ^ansible/roles/common/templates/conf/input/11-letsencrypt.conf.j2, ^ansible/roles/(letsencrypt|loadbalancer)/, ^tests/test-core-openstack.sh, ^tests/test-dashboard.sh, ^tests/deploy.sh
  kolla-ansible-skyline-base: any of: ^ansible/roles/skyline/, ^tests/test-skyline.sh
  kolla-ansible-skyline-sso-base: any of: ^ansible/roles/skyline/, ^tests/test-skyline-sso.sh
